{% extends 'shared/base.html' %}
{% block content %}
<!-- container -->
<div class="mt-28 w-screen max-w-screen-2xl mx-auto">
  <!-- section-delivery -->
  <div class="m-2 p-2 text-center text-xl font-semibold">
    <!-- delivery-tag -->
    <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
      <h3>選擇配送方式</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- delivery-options -->
    <div class="mt-2">
      <div class="flex items-center rounded-t-xl border-b-2 border-gray-100 p-3 bg-gray-200">
        <input type="radio" name="delivery-method" id="method_1" class="w-7 h-7">
        <label for="method_1" class="circle ml-3 font-semibold">超商取貨</label>
      </div>
      <div class="flex items-center rounded-b-xl p-3 bg-gray-200">
        <input type="radio" name="delivery-method" id="method_2" class="w-7 h-7">
        <label for="method_2" class="circle ml-3 font-semibold">宅配到府</label>
      </div>
    </div>
  </div>
  <!-- section-payment -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <!-- payment-tag -->
    <div class="flex justify-between items-center">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>選擇付款方式</h3>
      </div>
      <a href="#" class="block">
        <div class="flex items-center">
          <p class="mr-2 text-gray-700">付款說明</p>
        <p class="w-7 h-7 rounded-3xl bg-red-300 text-lg text-white">？</p>
        </div>
      </a>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- payment-options -->
    <div class="mt-2 text-center text-xl font-semibold">
      <div class="flex items-center rounded-t-xl border-b-2 border-gray-100 p-3 bg-gray-200">
        <input type="radio" name="payment-method" id="method_1" class="w-7 h-7">
        <label for="method_1" class="circle ml-3 font-semibold">超商取貨付款</label>
      </div>
      <div class="flex items-center border-b-2 border-gray-100 p-3 bg-gray-200">
        <input type="radio" name="payment-method" id="method_2" class="w-7 h-7">
        <label for="method_2" class="circle ml-3 font-semibold">信用卡</label>
      </div>
      <div class="flex items-center border-b-2 border-gray-100 p-3 bg-gray-200">
        <input type="radio" name="payment-method" id="method_3" class="w-7 h-7">
        <label for="method_2" class="circle ml-3 font-semibold">第三方支付</label>
      </div>
      <div class="flex items-center rounded-b-xl p-3 bg-gray-200">
        <input type="radio" name="payment-method" id="method_4" class="w-7 h-7">
        <label for="method_2" class="circle ml-3 font-semibold">ATM 轉帳付款</label>
      </div>
    </div>
    <!-- payment-notice -->
    <div class="mt-2 rounded-xl border-2 border-red-300 p-3 text-left text-gray-700 -indent-6">
      <p class="ml-4 text-justify">
        <span>・</span>
        信用卡僅限持卡人本人使用，本公司得就本件交易資料向發卡銀行、收單行、及持卡人照會是否屬實，核對無誤後付款才算完成。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        選擇超商取貨付款前往門市取貨時，僅接受現金付款或5000元(含)以下可用信用卡，適用之信用卡發卡銀行依超商規定(後續如有退款之情事發生，款項將會退至訂購人之會員帳戶餘額內，請參考退款方式相關)。
      </p>
    </div>
  </div>
  <!-- section-coupon -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <!-- coupon-tag -->
    <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
      <h3>選擇優惠方式</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- coupon-check -->
    <div class="mt-2 rounded-xl bg-gray-200 p-3">
      <div class="flex items-center">
        <input type="checkbox" id="coupon-check" name="coupon" class="w-7 h-7">
        <label for="coupon-check" class="ml-3">E-Coupon 電子折價券 / 單品折價券<span class="text-base text-gray-500"> ( 若要使用折價券，請先打勾即可輸入 )</span>
        </label>
      </div>
    </div>
  </div>
  <!-- section-store-choice -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
      <h3>選擇超商取貨門市</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- store-options -->
    <div class="mt-2 rounded-xl border-2 border-red-300 p-2">
      <div class="flex justify-start font-semibold text-center">
        <a href="#" class="w-56 rounded-xl p-3 bg-gray-200">依地圖選擇</a>
        <a href="#" class="w-56 ml-3 rounded-xl p-3 bg-red-300">選擇常用門市</a>
      </div>
      <div class="flex mt-4 p-2">
        <p>門市名稱：</p>
        <span class="inline-block ml-10">Ex: name</span>
      </div>
      <div class="flex p-2">
        <p>門市地址：</p>
        <span class="inline-block ml-10">Ex: address</span>
      </div>
      <div class="p-2 text-left text-base text-gray-500">
        <p>門市取件時需配合門市相關規範，部分門市已陸續調整為「自助取件」，可重新依地圖選擇確認。</p>
      </div>
    </div>
  </div>
  <!-- section-order-info -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <!-- order-info-tag -->
    <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
      <h3>訂購人資訊</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- order-info-detail -->
    <div class="mt-2 p-3 rounded-xl border-2 border-red-300">
      <div class="flex justify-start">
        <label for="order_name" class="w-1/12 p-2 text-left">姓名</label>
        <input type="text" name="order_name" id="order_name" maxlength="50" value="XXX" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
      </div>
      <div class="flex justify-start items-center mt-2">
        <label for="order_cell_phone" class="w-1/12 p-2 text-left">手機</label>
        <input type="tel" name="order_cell_phone" id="order_cell_phone" maxlength="10" value="0123456789" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
        <p class="ml-7 text-base text-gray-500">手機市話可擇一填寫</p>
      </div>
      <div class="flex justify-start items-center mt-2">
        <label for="order_phone" class="w-1/12 p-2 text-left">市話</label>
        <input type="tel" name="order_phone" id="order_phone" maxlength="10" value="0123456789" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
        <p class="ml-7 text-base text-gray-500">手機市話可擇一填寫</p>
      </div>
      <div class="flex justify-start mt-2">
        <label for="order_mail" class="w-1/12 p-2 text-left">E-mail</label>
        <input type="email" name="order_mail" id="order_mail" maxlength="50" value="abc@gmail.com" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
      </div>
    </div>
  </div>
  <!-- section-recipient-info -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <!-- recipient-info-tag -->
    <div class="flex justify-between items-center">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>收件人資訊</h3>
      </div>
      <a href="#" class="block">
        <div class="flex items-center">
          <p class="mr-2 text-gray-700">寄送說明</p>
        <p class="w-7 h-7 rounded-3xl bg-red-300 text-lg text-white">？</p>
        </div>
      </a>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- recipient-info-detail -->
    <div class="mt-2 p-3 rounded-xl border-2 border-red-300">
      <div class="flex justify-start items-center">
        <label for="order_name" class="w-1/12 p-2 text-left">收件人</label>
        <input type="text" name="order_name" id="order_name" maxlength="50" value="XXX" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
        <p class="ml-7 text-base text-gray-500">若包裹不需付款，與此欄位姓名相同的證件，方可取貨</p>
      </div>
      <div class="flex justify-start items-center mt-2">
        <label for="order_cell_phone" class="w-1/12 p-2 text-left">手機</label>
        <input type="tel" name="order_cell_phone" id="order_cell_phone" maxlength="10" value="0123456789" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
        <p class="ml-7 text-base text-gray-500">輸入格式09XXXXXXXX，將以此資料發送超商未取簡訊提醒</p>
      </div>
      <div class="flex justify-start items-center mt-2">
        <label for="order_mail" class="w-1/12 p-2 text-left">E-mail</label>
        <input type="email" name="order_mail" id="order_mail" maxlength="50" value="abc@gmail.com" class="ml-7 w-1/2 rounded-xl border border-red-300 p-2">
        <p class="ml-7 text-base text-gray-500">交易通知將會發送到此 E-mail</p>
      </div>
    </div>
  </div>
  <!-- section-invoice -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <!-- invoice-tag -->
    <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
      <h3>發票資訊</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- invoice-options -->
    <div class="mt-2">
      <!-- donate-community -->
      <div class=" border-b-2 border-gray-100">
        <div class="flex items-center rounded-t-xl p-3 bg-gray-200">
          <input type="radio" name="invoice-options" id="donate" class="w-7 h-7">
          <label for="donate" class="ml-3 font-semibold">捐贈發票</label>
        </div>
        <div class="flex items-center p-2 border-l-2 border-r-2 border-gray-200">
          <input type="radio" id="donate_community" name="invoice_donate" class="ml-10 w-7 h-7">
          <label for="donate_community" class="ml-3">
            <span>捐贈單位 :</span>
            <select name="invoice_to_community" id="invoice_to_community" class="ml-3 p-2 border-2 border-gray-200">
              <option value="001::財團法人伊甸社會福利基金會">財團法人伊甸社會福利基金會</option>
              <option value="002::財團法人肝病防治學術基金會">財團法人肝病防治學術基金會</option>
              <option value="003::財團法人心路社會福利基金會">財團法人心路社會福利基金會</option>
              <option value="004::財團法人中華民國兒童福利聯盟文教基金會">財團法人中華民國兒童福利聯盟文教基金會</option>
            </select>
          </label>
        </div>
      </div>
      <!-- two-parts -->
      <div class=" border-b-2 border-gray-100">
        <div class="flex items-center p-3 bg-gray-200">
          <input type="radio" name="invoice-options" id="two_parts" class="w-7 h-7">
          <label for="two_parts" class="ml-3 font-semibold">二聯式電子發票</label>
          <p class="ml-7 text-base text-gray-500">配合國稅局勸止二聯換開三聯之政策，本公司保留換開發票的權利。</p>
        </div>
        <div class="flex items-center p-2 border-l-2 border-r-2 border-gray-200">
          <input type="radio" id="cell-barcode" name="two-parts" class="ml-10 w-7 h-7">
          <label for="cell-barcode" class="ml-3 p-2">
            手機條碼載具
          </label>
        </div>
        <div class="flex items-center p-2 border-t-2 border-x-2 border-gray-200">
          <input type="radio" id="citizen-barcode" name="two-parts" class="ml-10 w-7 h-7">
          <label for="citizen-barcode" class="ml-3 p-2">
            自然人憑證載具
          </label>
        </div>
      </div>
      <!-- three-parts -->
      <div class="rounded-b-xl border-b-2 border-gray-200">
        <div class="flex items-center p-3 bg-gray-200">
          <input type="radio" name="invoice-options" id="three_parts" class="w-7 h-7">
          <label for="three_parts" class="ml-3 font-semibold">三聯式電子發票</label>
        </div>
        <div class="flex items-center rounded-b-xl border-x-2 border-gray-200 p-2">
          <label for="uniform-numbers" class="ml-10">請輸入統一編號 :</label>
          <input type="text" maxlength="8" name="uniform-numbers" class="ml-3 p-2 border-2 border-gray-200">
        </div>
      </div>
    </div>
  </div>
  <!-- section-return-goods -->
  <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
    <div class="mt-2 rounded-xl bg-gray-200 p-3">
      <div class="flex items-center">
        <input type="checkbox" id="return-check" name="return-goods" checked class="w-7 h-7">
        <label for="return-check" class="ml-3">我同意辦理退貨時，由博客來代為處理發票及銷貨退回證明單，以加速退貨退款作業。
        </label>
      </div>
    </div>
    <div class="mt-2 p-3 text-left text-gray-500 text-base -indent-6">
      <p class="ml-4 text-justify">
        <span>・</span>
        開立之統一發票將扣除優惠(E-coupon、單書優惠券、單品折價券、或購物金)折抵之款項
      </p>
    </div>
  </div>
  <!-- section-redirect -->
  <div class="flex justify-end mt-12 m-2 p-2 text-center text-xl">
    <a href="#" class="block w-1/5 rounded-xl bg-gray-300 p-4">
      上一步
    </a>
    <a href="#" class="block w-1/5 ml-4 rounded-xl bg-red-300 p-4">
      下一步
    </a>
  </div>
</div>
{% endblock %}