{% extends 'shared/base.html' %}
{% block content %}
<!-- container -->
<div class="mt-28 w-screen max-w-screen-2xl mx-auto">
  <!-- checkout-title -->
  <h3 class="m-12 p-1 text-2xl font-semibold">親愛的會員
    <span class="text-red-500"> ID </span>
    您好，請確認下列購物資訊是否正確
  </h3>
  <!-- section-order-serial-number -->
  <div class="p-2 text-lg">
    <div class="p-3 rounded-t-xl border-2 border-gray-300">
      <span>訂單編號：</span>
      <span class="ml-2 p-2 text-red-500">202405131746</span>
    </div>
    <div class="p-3 rounded-b-xl border-x-2 border-b-2 border-gray-300">
      <p class="">
        將立即為您安排出貨，請明日中午過後至指定的門市取貨，請參考<a href="#" class="text-blue-500">24小時隔日取貨說明</a>(台北市、新北市地區最快12小時後即可取貨)</p>
    </div>
  </div>
  <!-- section-confirm-detail -->
  <div class="mt-12 m-2 p-1">
    <!-- detail-tag -->
    <div class="w-60 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>購物明細</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- detail-column -->
    <div class="flex justify-around mt-2 rounded-xl bg-red-200 p-2 text-center text-xl font-semibold text-red-400">
      <div class="w-2/5 p-2 border-r-2 border-red-400">
        <p>商品明細</p>
      </div>
      <div class="w-1/5 p-2 border-r-2 border-red-400">
        <p>優惠價/點數兌換價</p>
      </div>
      <div class="w-1/6 p-2 border-r-2 border-red-400">
        <p>數量</p>
      </div>
      <div class="w-1/5 p-2 border-r-2 border-red-400">
        <p>金額</p>
      </div>
      <div class="w-1/12 p-2">
        <p>庫存</p>
      </div>
    </div>
    <!-- detail-product -->
    <div class="flex justify-around mt-2 rounded-t-xl border-red-200 border-2 p-2 text-xl">
      <div class="w-2/5 p-2 text-left border-r-2 border-transparent">
        <p>title</p>
      </div>
      <div class="w-1/5 p-2 text-right border-r-2 border-transparent">
        <p>$ discount</p>
      </div>
      <div class="w-1/6 p-2 text-right border-r-2 border-transparent">
        <p>N</p>
      </div>
      <div class="w-1/5 p-2 text-right border-r-2 border-transparent">
        <p>$ price</p>
      </div>
      <div class="w-1/12 p-2 text-center">
        <p>Y/N</p>
      </div>
    </div>
    <!-- summary -->
    <div class="flex justify-end p-2 bg-red-200 text-xl border-2 border-red-200">
      <div class="w-1/2 p-2 text-right">
        <p>商品總計</p>
      </div>
      <div class="w-1/3 p-2 text-right">
        共&nbsp;
        <span class="text-xl font-semibold text-red-500">&nbsp;N&nbsp;</span>
        項商品, 數量&nbsp;
        <span class="text-xl font-semibold text-red-500">&nbsp;N&nbsp;</span>
        個
      </div>
    </div>
    <div class="flex justify-end p-4 bg-red-200 text-xl border-2 border-red-200">
      <p>NT&nbsp;$&nbsp;</p>    
      <span class="text-xl font-semibold text-red-500"> &nbsp;N&nbsp;</span>
    </div>
    <!-- postage -->
    <div class="flex justify-end border-2 border-red-200 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>處理費 / 郵資</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>&nbsp;+&nbsp;N&nbsp;</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
    <!-- order-total -->
    <div class="flex justify-end bg-red-200 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>訂單金額總計</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>&nbsp;N&nbsp;</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
          </div>
        </div>
      </div>
    <!-- result-price -->
    <div class="flex justify-end bg-black rounded-b-xl p-2 text-2xl text-white ">
      <div class="w-1/2 p-2 text-right">
        <p>此訂單需繳付金額</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-2xl font-semibold text-white">
          <p>&nbsp;N&nbsp;</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
  </div>
  <!-- section-precautions -->
  <div class="mt-12 m-2 p-1">
    <!-- precautions-tag -->
    <div class="w-60 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>注意事項</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- precautions-text -->
    <div class="mt-2 rounded-xl border-2 border-gray-300 p-3 text-lg text-left text-gray-700 -indent-6">
      <p class="ml-4 text-justify">
        <span>・</span>
        謝謝您的惠顧，CakeCapture 仍保有決定是否接受訂單及出貨與否之權利。我們將在24小時內寄一份完整的訂購需求至
        <span class="text-red-500">abc@gmail.com</span>
        供您留存。如果您有任何疑問，請來電至 02-12345678，客服專員將竭誠為您服務。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        您也可以至
        <a href="#" class="text-blue-500">會員專區</a>
        中，查詢或修改您的訂單。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        您所訂購的商品到貨後，我們將立即送至超商門市，取貨日期將會透過E-mail通知您。請您留意取貨通知信函之E-mail，若於取貨期限前三天仍未領取訂購的商品，我們將再透過第二封提醒取貨通知E-mail與簡訊提醒您取貨。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        取貨時請告訴門市人員您的姓名，銷貨單號等資料以利取件；若您的姓名因編碼問題無法正確顯示而無法順利取貨，請與客服連絡，以便我們向門市人員確認。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        付款時您只需支付該次出貨之商品金額即可；若您的包裹毋需付款即可領取(零元包裹)，為確保您的取件權益，請同時備妥身份證件。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        有關至超商取貨付款之注意事項及退貨方式之相關說明，請參考
        <a href="#" class="text-blue-500">超商取貨付款說明</a>
        。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        部分商品或是贈品因數量有限，未完成結帳前是不保留商品或是贈品數量，實際購買清單請依本頁面&訂購單內文為準；如訂購的商品無法順利出貨或缺貨，我們將主動通知您並取消訂購品項。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        您的訂單中包含促銷活動商品 / 加購品 /贈品，所有商品將同時出貨，恕不分開出貨，亦不接受單獨取消或退貨。
      </p>
      <p class="ml-4 text-justify">
        <span>・</span>
        您的訂單暫時符合快速到貨條件(若為線上付款，將於確認收到款項後，安排出貨。)
        <span class="text-red-500">週六、日及國定假日不適用此方案</span>
        實際配送時間仍需依出貨通知為準，快速到貨配送條件，請詳見
        <a href="#" class="text-blue-500">快速到貨條件(說明)</a>
        。
      </p>
    </div>
  </div>
  <!-- section-redirect -->
  <div class="flex justify-evenly mt-12 m-2 p-2 text-center text-xl">
    <a href="{% url 'home' %}" class="w-1/5 rounded-xl bg-red-300 p-4">回首頁</a>
    <a href="{% url 'cart_list' %}" class="w-1/5 ml-4 rounded-xl bg-red-300 p-4">回購物車</a>
    <a href="{% url 'logout' %}" class="w-1/5 ml-4 rounded-xl bg-red-300 p-4">登出</a>
    <a href="#" class="w-1/5 ml-4 rounded-xl bg-red-300 p-4">會員專區</a>
  </div>
</div>
{% endblock %}