<div class="user-favorite p-6" x-show="tab === 'user-favorite'">
	<h2 class="font-bold text-2xl leading-10 text-black">我的最愛</h2>
	<div class="w-full max-w-screen-lg mx-auto">
		<div class="">
			<section>
				<div class="container-3xl mx-auto">
					<div class="flex flex-wrap gap-6">
						{% if favorites %}
						{% for favorite in favorites %}
						<!-- card -->
						<div
							class="card relative flex w-full min-w-[15rem] max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg hover:scale-105 transition ease-in duration-300">
							<div
								class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
								<img src="{{ favorite.product.image.url }}" class="w-full h-[288px] object-cover" />
								<!-- delete -->
								<button
									class="delete-favorite-btn !absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-red-500 transition-all hover:bg-white/90 active:bg-red-500/30"
									type="button" data-index="{{favorite.product.id}}" data-ripple-dark="true">
									<i class="fa-regular fa-trash-can" style="transform: scale(1.5);"></i>
								</button>
							</div>
							<a href="{% url 'products:detail' favorite.product.id %}">
								<div class="p-6">
									<div class="mb-3 flex items-center justify-between">
										<!-- 產品名稱 -->
										<h5 class="block text-xl font-bold leading-snug tracking-normal text-blue-gray-900 antialiased">
											{{ favorite.product.name }}
										</h5>
									</div>
									<div class="flex items-center justify-between">
										<!-- 產品價格 -->
										<p class="block text-base font-bold text-blue-500">$ {{ favorite.product.price }}</p>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
						{% else %}
						<p>你還沒有收藏任何商品。</p>
						{% endif %}
					</div>
				</div>
			</section>
			<div class="additional-box"></div>
			<div class="chat-widget"></div>
		</div>
	</div>
</div>