<div class="user-bouns p-6" x-show="tab === 'user-bouns'">
	<h2 class="font-bold text-2xl leading-10 text-black">商店積點</h2>
	<div class="m-3 flex justify-evenly">
		<h3 class="font-bold text-l leading-10 text-gray-600">目前點數</h3>
		<p class="font-medium text-m leading-10 text-gray-600">Num</p>
	</div>
	<div class="pt-6">
		<table class="w-full table-auto shadow-md">
			<tr class="border-b border-gray-900/10 pb-12">
				<th class="text-md px-6 py-3">日期</th>
				<th class="text-md px-6 py-3">項目</th>
				<th class="text-md px-6 py-3">回饋金額</th>
				<th class="text-md px-6 py-3">到期日</th>
				<th class="text-md px-6 py-3">餘額</th>
			</tr>
			<tr>
				<td class="text-md px-6 py-3">內容一</td>
				<td class="text-md px-6 py-3">內容二</td>
				<td class="text-md px-6 py-3">內容三</td>
				<td class="text-md px-6 py-3">內容四</td>
				<td class="text-md px-6 py-3">內容五</td>
			</tr>
			<tr>
				<td class="text-md px-6 py-3">內容一</td>
				<td class="text-md px-6 py-3">內容二</td>
				<td class="text-md px-6 py-3">內容三</td>
				<td class="text-md px-6 py-3">內容四</td>
				<td class="text-md px-6 py-3">內容五</td>
			</tr>
		</table>
	</div>
</div>