<div class="user-coupon p-6" x-show="tab === 'user-coupon'">
	<h2 class="font-bold text-2xl leading-10 text-black">優惠券</h2>
	<div class="pt-6">
		<table class="w-full table-auto shadow-md">
			<tr class="border-b border-gray-900/10 pb-12">
				<th class="text-md px-6 py-3">優惠券代碼</th>
				<th class="text-md px-6 py-3">折扣金額</th>
				<th class="text-md px-6 py-3">剩餘使用次數</th>
				<th class="text-md px-6 py-3">到期日</th>
			</tr>
			{% for user_coupon in user_coupons %}
			<tr>
				<td class="text-md px-6 py-3 text-center">{{ user_coupon.coupon.code }}</td>
				<td class="text-md px-6 py-3 text-center">{{ user_coupon.coupon.discount }}</td>
				<td class="text-md px-6 py-3 text-center">{{ user_coupon.usage_count }} / {{ user_coupon.coupon.usage_limit }}</td>
				<td class="text-md px-6 py-3 text-center">{{ user_coupon.expired_at }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>