{% extends "shared/base.html" %} {% block content %}
<div class="about-container">
    <div class="about-text">
        <div class="1st-p">
            <p>SEASON Artisan Pâtissier 於 2011年 8月品牌誕生</p>
            <p>在台北大直豪宅靜巷中發跡</p>
            <p>也是甜點市場中人氣居高不墜的話題品牌</p>
        </div>
        <div class="2nd-p">
            <p>全台唯一提供多款現做盤式甜點的甜點概念餐廳</p>
            <p>以獨特的個性和精緻的產品廣受媒體和美食同好熱愛推崇</p>
            <p>然而我們的願景不僅於此：</p>
        </div>
        <div class="3rd-p">
            <p>為了提供更完整的品牌經驗</p>
            <p>分享生活美學品味</p>
            <p>散播食飲文化的『種子</p>
            <p>我們在 2013年 6月於台北市仁愛圓環打造全新旗艦店</p>
            <p>將秉持一切的動力-熱情</p>
            <p>用我們受到啟發的靈感和創意思考</p>
            <p>持續灌溉這個文化種子令它們發芽 茁壯</p>
            <p>帶給這世界更多美好瞬間和浪漫</p>
        </div>
    </div>
    <div class="about-main-img">
        <img
            src="https://shoplineimg.com/5b5c43c10e64feb4ae007826/5b6d1d6972712800140dc644/1200x.webp?source_format=jpg"
            alt=""
        />
    </div>
</div>
{% endblock content %}
