{% extends "shared/base.html" %}
{% block content %}
<!-- add scripts for google maps -->
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhgbCe7QbRdJJzUsahzXAuI5eneMDoPhE&callback=console.debug&libraries=maps,marker&v=beta">
  </script>
<div class="bg-gray-100 py-12 mt-20 sm:px-12 md:px-24 lg:px-32 xl:px-40 2xl:px-64 flex justify-between items-center">
  <div class="w-full mt-15 md:w-1/2 mb-12 md:mb-0">
    <div class="text-lg lg:text-xl xl:text-lg text-gray-700 leading-relaxed mr-1">
      <p>Cakecapture 於 2024年 3月品牌誕生</p>
      <p>在台北公園鬧中取靜中發跡</p>
      <p>也是甜點市場中人氣居高不墜的話題品牌</p>
      <p class="mt-6">這款蛋糕就像你一樣，總是令人陶醉迷戀。</p>
      <p>從蛋糕的外表到每一口的滋味，都充滿了你那溫柔迷人的風采。</p>
      <br>
      <p>它的外表猶如你的笑容，溫暖而光芒四射，吸引著每個眼球停留。</p>
      <p>都充滿了你那溫柔迷人的風采。</p>
      <br>
      <p>每一層都是深沉的巧克力，象徵著你深邃的內心，蘊含著無盡的甜蜜與驚喜。</p>
      <br>
      <p>而蛋糕表面的奶油花朵，仿佛是你那柔軟的心靈，總是願意與人分享溫暖和關懷。</p>
      <br>
      
      <p>夢幻甜點，帶來無盡的喜悅和幸福。</p>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <div class="w-full md:w-1/2">
        <img
          src="https://shoplineimg.com/5b5c43c10e64feb4ae007826/5b6d1d6972712800140dc644/1200x.webp?source_format=jpg"
          alt="About Image" class="w-full h-auto">
      </div>
      <div class="w-full h-80 md:w-1/2 mt-10">
        <div class="google-maps w-full h-full">
          <gmp-map center="25.042465209960938,121.51372528076172" zoom="16" map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="25.042465209960938,121.51372528076172"
              title="My location"></gmp-advanced-marker>
          </gmp-map>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}