{% extends "shared/base.html" %} 
{% block content %}
	<!-- add scripts for google maps -->
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhgbCe7QbRdJJzUsahzXAuI5eneMDoPhE&callback=console.debug&libraries=maps,marker&v=beta">
	</script>
	<div
			class="bg-gray-100 py-12 mt-20 sm:px-12 md:px-24 lg:px-32 xl:px-40 2xl:px-64 flex justify-between items-center">
			<div class="w-full mt-20 md:w-1/2 mb-12 md:mb-0">
					<div class="text-lg lg:text-xl xl:text-lg text-gray-700 leading-relaxed mr-10">
							<p>SEASON Artisan Pâtissier 於 2011年 8月品牌誕生</p>
							<p>在台北大直豪宅靜巷中發跡</p>
							<p>也是甜點市場中人氣居高不墜的話題品牌</p>
							<p class="mt-6">全台唯一提供多款現做盤式甜點的甜點概念餐廳</p>
							<p>以獨特的個性和精緻的產品廣受媒體和美食同好熱愛推崇</p>
							<p>然而我們的願景不僅於此：</p>
							<p>為了提供更完整的品牌經驗，</p>
							<p>分享生活美學品味，</p>
							<p>散播食飲文化的『種子』。</p>
							<br>
							<p>我們在 2013年 6月於台北市仁愛圓環打造全新旗艦店，</p>
							<p>將秉持一切的動力-熱情，</p>
							<p>用我們受到啟發的靈感和創意思考，</p>
							<p>持續灌溉這個文化種子令它們發芽茁壯，</p>
							<p>帶給這世界更多美好瞬間和浪漫。</p>
					</div>
			</div>
			<div class="flex justify-center">
				<div class="flex flex-col items-center">
					<div class="w-full md:w-1/2">
						<img src="https://shoplineimg.com/5b5c43c10e64feb4ae007826/5b6d1d6972712800140dc644/1200x.webp?source_format=jpg" alt="About Image" class="w-full h-auto">
					</div>
					<div class="w-full h-80 md:w-1/2 mt-10">
						<div class="google-maps w-full h-full">
							<gmp-map center="25.042465209960938,121.51372528076172" zoom="16" map-id="DEMO_MAP_ID">
								<gmp-advanced-marker position="25.042465209960938,121.51372528076172" title="My location"></gmp-advanced-marker>
							</gmp-map>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock content %}
