{% extends 'shared/base.html' %}
{% block content %}
<!-- container -->
<div class="mt-28 w-full">
  <!-- section-title -->
  <div class="m-2 p-1 text-2xl font-semibold">
    <p>親愛的會員 ID 您好</p>
  </div>
  <!-- section-order -->
  <div class="mt-12 m-2 p-1 text-center text-xl font-semibold border border-black">
    <!-- order-tag -->
    <div class="flex">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>購物明細</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>免費贈品</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>點數回饋</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>下次再買清單</h3>
      </div>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- order-header -->
    <div class="flex mt-2 p-2 bg-red-200 text-xl rounded-xl">
      <div class="w-1/12 p-2 text-center">
        <input type="checkbox" class="block m-auto w-7 h-7 p-2">
      </div>
      <div class="w-1/3 p-2 border-l-2 border-red-400">
        <p>商品明細</p>
      </div>
      <div class="w-1/6 p-2 border-l-2 border-red-400">
        <p>優惠價/點數兌換價</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>數量</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>金額</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>庫存</p>
      </div>
      <div class="w-1/6 p-2 border-l-2 border-red-400">
        <p>變更明細</p>
      </div>
    </div>

    <!-- order-list -->
    <div class="flex mt-2 p-2 ">
      <div class="border border-black">
        <input type="checkbox" class="flex-col m-auto">
      </div>
      <div class="border border-black">
        <div class="w-1/12 h-1/6">
          <a href="#" class="w-full"></a>
        </div>
      </div>

    </div>










  </div>





















</div>











<div class="cart-container">
    
    <!-- section-order -->
    <form method="POST" action="#" class="section-order">
        
        <!-- order-header -->
        <div class="order-header">
            <div class="header-checkbox">
                <input type="checkbox" />
            </div>
            <div class="header-detail">

            </div>
            <div class="header-coupon">

            </div>
            <div class="header-number">
                
            </div>
            <div class="header-total">
                
            </div>
            <div class="header-storage">
                
            </div>
            <div class="header-option">
                
            </div>
        </div>
        <!-- order-body -->
        <div class="order-item">
            
            <div class="item-product">
                <div class="product-img">
                    <a href="#">img</a>
                </div>
                <div class="product-title">
                    <a href="#">title</a>
                </div>
            </div>
            <div class="item-discount">
                <p>discount</p>
            </div>
            <div class="item-number">
                <p>N</p>
            </div>
            <div class="item-total">
                <p>total</p>
            </div>
            <div class="item-storage">
                <p>Y / N</p>
            </div>
            <div class="item-option">
                <div class="option-buy-next">
                    <a href="#">下次再買</a>
                </div>
                <div class="option-delete">
                    <a href="#">刪除</a>
                </div>
            </div>
        </div>
        <!-- order-footer -->
        <div class="order-footer">
            <div class="status-check">
                <div class="order-buy-next">
                    <a href="#">訂單下次再買</a>
                </div>
                <div class="order-delete">
                    <a href="#">整筆訂單刪除</a>
                </div>
            </div>
            <div class="total-check">
                <div class="order-numbers">
                    <p>共 N 項商品, 數量 N 個</p>
                </div>
                <div class="order-total">
                    <div class="description">
                        <p>金額總計</p>
                    </div>
                    <div class="total-price">
                        <p>NT$ N 元</p>
                    </div>
                </div>
                <div class="order-weight">
                    <div class="description">
                        <p>宅配郵資計算重量</p>
                    </div>
                    <div class="total-weight">
                        <p>N 公克</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- section-notice -->
    <div class="section-notice">
        <div class="title-tag">
            <div class="main-tag">重要提醒</div>
        </div>
        <span class="underline"></span>
        <div class="notice-txt">
            <ul>
                <li>提醒 1</li>
                <li>提醒 2</li>
                <li>提醒 3</li>
                <li>提醒 4</li>
                <li>提醒 5</li>
            </ul>
        </div>
    </div>
    <!-- section-redirect -->
    <div class="section-redirect">
        <div class="page-index">
            <a href="#">回到首頁</a>
        </div>
        <div class="oversea-payment">
            <a href="#">海外結帳</a>
        </div>
        <div class="page-payment">
            <a href="#">國內結帳</a>
        </div>
    </div>
</div>
{% endblock %}
