{% extends 'shared/base.html' %}
{% block content %}
<!-- container -->
<div class="mt-28 w-full">
  <!-- section-title -->
  <div class="m-2 p-2 text-2xl font-semibold">
    <p>親愛的會員 ID 您好</p>
  </div>
  <!-- section-order -->
  <div class="mt-12 m-2 p-2 text-center">
    <!-- order-tag -->
    <div class="flex text-xl font-semibold">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>購物明細</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>免費贈品</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>點數回饋</h3>
      </div>
      <div class="w-60 rounded-t-xl p-2 bg-white border-2 border-red-300 text-red-400">
        <h3>下次再買清單</h3>
      </div>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- order-header -->
    <div class="flex mt-2 p-2 bg-red-200 text-xl font-semibold rounded-xl">
      <div class="w-1/12 p-2 text-center">
        <input type="checkbox" class="block m-auto w-7 h-7 p-2">
      </div>
      <div class="w-1/3 p-2 border-l-2 border-red-400">
        <p>商品明細</p>
      </div>
      <div class="w-1/6 p-2 border-l-2 border-red-400">
        <p>優惠價/點數兌換價</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>數量</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>金額</p>
      </div>
      <div class="w-1/12 p-2 border-l-2 border-red-400">
        <p>庫存</p>
      </div>
      <div class="w-1/6 p-2 border-l-2 border-red-400">
        <p>變更明細</p>
      </div>
    </div>
    <!-- order-list -->
    <div class="flex mt-2 p-2 h-52 rounded-xl text-lg border-2 border-red-300">
      <div class="w-1/12 felx flex-col m-auto">
        <input type="checkbox" class="w-7 h-7 m-auto p-2">
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/2">
          <img src="https://fakeimg.pl/300/" alt="#" class="w-full h-full">
        </div>
        <div class="felx flex-col m-auto w-1/2 p-2">
          <p>Ex: title</p>
        </div>
      </div>
      <div class="felx flex-col m-auto w-1/6 p-2">
        <p>Ex: discount</p>
      </div>
      <div class="felx flex-col m-auto w-1/12 p-2">
        <p>Ex: N</p>
      </div>
      <div class="felx flex-col m-auto w-1/12 p-2">
        <p>Ex: Price</p>
      </div>
      <div class="felx flex-col m-auto w-1/12 p-2">
        <p>Ex: Y/N</p>
      </div>
      <div class="felx flex-col m-auto w-1/6 p-2">
        <div class="m-2 p-2">
          <a href="#" class="block rounded-xl p-2 bg-purple-200">
            下次再買
          </a>
        </div>
        <div class="m-2 p-2">
          <a href="#" class="block rounded-xl p-2 bg-purple-200">
            刪除
          </a>
        </div>
      </div>
    </div>
    <!-- order-footer -->
    <div class="flex justify-between mt-2 rounded-xl p-2 bg-red-200 text-lg">
      <div class="flex flex-col justify-evenly w-1/4 p-2">
        <a href="#" class="bolck m-2 rounded-xl p-2 bg-red-400">訂單下次再買</a>
        <a href="#" class="bolck m-2 rounded-xl p-2 bg-red-400">訂單刪除</a>
      </div>
      <div class="w-1/2 p-2">
        <div class="text-right p-2">
          共&nbsp;
          <span class="text-2xl font-semibold text-red-500">&nbsp;N&nbsp;</span>
          &nbsp;項商品, 數量&nbsp;
          <span class="text-2xl font-semibold text-red-500">&nbsp;N&nbsp;</span>
          &nbsp;個
        </div>
        <div class="flex justify-end text-right">
          <div class="w-1/2 p-3">金額</div>
          <div class="w-1/3 p-2">
            NT$&nbsp;
            <span class="text-2xl font-semibold text-red-500">&nbsp;N&nbsp;</span>
          </div>
        </div>
        <div class="flex justify-end text-right">
          <div class="w-1/2 p-3">海外宅配郵資計算重量</div>
          <div class="w-1/3 p-2">
            <span class="text-2xl">&nbsp;N&nbsp;</span>
            &nbsp;公克
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-notice -->
  <div class="mt-12 m-2 p-2 text-center">
    <!-- notice-tag -->
    <div class="w-60 rounded-t-xl bg-green-400 p-2 text-center text-xl font-semibold text-white">
      <h3>重要提醒</h3>
    </div>
    <span class="block w-full h-1 bg-green-400"></span>
    <div class="mt-2 rounded-xl border-2 border-green-400 p-2 text-left text-lg">
      <div>
        <p>提醒 1</p>
      </div>
      <div>
        <p>提醒 2</p>
      </div>
      <div>
        <p>提醒 3</p>
      </div>
      <div>
        <p>提醒 4</p>
      </div>
      <div>
        <p>提醒 5</p>
      </div>
    </div>
  </div>
  <!-- section-redirect -->
  <div class="flex justify-end mt-12 m-2 p-2 text-center text-xl">
    <a href="#" class="block w-1/5 rounded-xl bg-gray-300 p-4">
      回首頁
    </a>
    <a href="#" class="block w-1/5 ml-4 rounded-xl bg-purple-200 p-4">
      海外結帳
    </a>
    <a href="#" class="block w-1/5 ml-4 rounded-xl bg-purple-200 p-4">
      國內結帳
    </a>
  </div>
</div>
{% endblock %}