{% extends 'shared/base.html' %}
{% load static %}
{% block title %}Cake Capture - 首頁{% endblock title %}
{% block content %}

<div x-data="carousel()" class="carousel-container w-full h-screen overflow-hidden relative">       
  <div class="carousel-wrapper w-full h-full flex transition-transform duration-500" :style="'transform: translateX(-' + currentIndex * 100 + '%)'">
    <div class="carousel-slide w-full h-full flex-shrink-0">
      <img src="{% static 'index_img/home01.png' %}" alt="Image 1" class="carousel-image w-full h-full object-cover"/>
    </div>
    <div class="carousel-slide w-full h-full flex-shrink-0">
      <img src="{% static 'index_img/home2.jpg' %}" alt="Image 2" class="carousel-image w-full h-full object-cover"/>
    </div>
    <div class="carousel-slide w-full h-full flex-shrink-0">
      <img src="{% static 'index_img/home03.png' %}" alt="Image 3" class="carousel-image w-full h-full object-cover"/>
    </div>
  </div>
  <button @click="prevSlide" class="carousel-button prev absolute left-0 top-1/2 transform -translate-y-1/2 text-white p-4 text-7xl">‹</button>
  <button @click="nextSlide" class="carousel-button next absolute right-0 top-1/2 transform -translate-y-1/2 text-white p-4 text-7xl">›</button>
</div>

<div class="min-h-screen flex" style="background-image: url('{% static 'index_img/macarons.jpeg' %}'); background-size: cover; background-position: center;">
    <div class="min-h-screen w-1/4 bg-white/70 flex items-center">
        <a class="hover:scale-110 flex flex-col transition-transform duration-500" href="{% url 'products:category' category='馬卡龍' %}">
            <h1 class="font-chenyuluoyan text-center p-4 rounded-lg text-7xl">
                馬卡龍
            </h1>
            <h2 class="font-chenyuluoyan text-center p-4 rounded-lg text-5xl hidden md:block">
              酥脆外殼包裹絕妙餡料，
              每一口都是甜蜜的夢境，
              讓味蕾翩然起舞。
            </h2>
        </a>
    </div> 
</div>
<div class="min-h-screen flex justify-end" style="background-image: url('{% static 'index_img/poundcake4.jpeg' %}'); background-size: cover; background-position: center;">
    <div class="min-h-screen w-1/4 bg-white/70 flex items-center">
        <a class="hover:scale-110 flex flex-col transition-transform duration-500" href="{% url 'products:category' category='磅蛋糕' %}">
            <h1 class="font-chenyuluoyan text-center p-4 rounded-lg text-7xl">
                磅蛋糕
            </h1>
            <h2 class="font-chenyuluoyan text-center p-4 rounded-lg text-5xl hidden md:block">
              濃郁香甜，鬆軟細膩，
              每一口都是溫暖的回憶，
              如同家的味道，令人沉醉。
            </h2>
        </a>
    </div>
</div>
<div class="min-h-screen flex" style="background-image: url('{% static 'index_img/creamcake.jpeg' %}'); background-size: cover; background-position: center;">
    <div class="min-h-screen w-1/4 bg-white/70 flex items-center">
        <a class="hover:scale-110 flex flex-col transition-transform duration-500" href="{% url 'products:category' category='鮮奶油蛋糕' %}">
            <h1 class="font-chenyuluoyan text-center p-4 rounded-lg text-7xl">
              鮮奶油蛋糕
            </h1>
            <h2 class="font-chenyuluoyan text-center p-4 rounded-lg text-5xl hidden md:block">
              輕盈柔滑，
              每一口都是雲朵的親吻，
              甜蜜在舌尖綻放，幸福瞬間充盈。
            </h2>
        </a>
    </div>
</div>
<div class="min-h-screen flex justify-end" style="background-image: url('{% static 'index_img/pastry.jpeg' %}'); background-size: cover; background-position: center;">
    <div class="min-h-screen w-1/4 bg-white/70 flex items-center">
        <a class="hover:scale-110 flex flex-col transition-transform duration-500" href="{% url 'products:category' category='法式糕點' %}">
            <h1 class="font-chenyuluoyan text-center p-4 rounded-lg text-7xl">
              法式糕點
            </h1>
            <h2 class="font-chenyuluoyan text-center p-4 rounded-lg text-5xl hidden md:block">
              精緻典雅，
              每一口都是藝術的展現，
              優雅與甜美交織，
              味蕾的極致享受。
            </h2>
        </a>
    </div>
</div>
<div class="min-h-screen flex" style="background-image: url('{% static 'index_img/chocolate.jpeg' %}'); background-size: cover; background-position: center;">
    <div class="min-h-screen w-1/4 bg-white/70 flex items-center">
        <a class="hover:scale-110 flex flex-col transition-transform duration-500" href="{% url 'products:category' category='巧克力' %}">
            <h1 class="font-chenyuluoyan text-center p-4 rounded-lg text-7xl">
                巧克力
            </h1>
            <h2 class="font-chenyuluoyan text-center p-4 rounded-lg text-5xl hidden md:block">
              絲滑濃郁，
              每一口都是幸福的甘泉，
              讓心靈沉醉，
              甜蜜無限蔓延。
            </h2>
        </a>
    </div>
</div>


{% endblock %}
