{% extends "shared/base.html" %} 
{% block content %}

<div class="container bg-white mx-auto px-12 grid grid-cols-1 mt-32 mb-10 rounded-2xl p-20 relative">
  <div class="discount-btn w-20 h-20 bg-red-100 bottom-4 right-4 absolute rounded-full flex items-center justify-center"><span class="text-white font-semibold">Chatbot</span></div>
  <div class="help-btn w-11 h-11 bg-red-100 bottom-4 left-4 absolute rounded-full flex items-center justify-center"><span class="text-white font-semibold">Top</span></div>

  <div class="text-center">
    <div class="text-7xl font-mono">常見問題</div>
    <div class="text-lg font-bold text-purple-800">Q&A</div>
  </div>

  <div class="text-start border-2 border-pink-950 bg-red-50 px-20 m-2.5">
    <br />
    <div class="text-xl font-bold mb-4 text-purple-800 flex justify-content-center align-item-center">
      <div class="bg-purple-400 text-white rounded-full p-2"><button>Q</button></div>
      &nbsp; &nbsp;
      <div class="text-2xl p-2">請問如何退換貨</div>
    </div>
    <hr style="height: 1px; background-color: black; border: none" />
    <br />
    <p>Cakecapture很重視您的託付，出貨前已確認蛋糕的完整性才貼上托運單及警告標語，若運送過程中，物流公司集貨或行駛路上顛簸，導致蛋糕位移(3~ 5cm)、變形或盒內四周沾奶油或裝飾品，如水果、巧克力裝飾片，脫落等不可抗拒之情況，皆恕不在換退貨及退款之範圍，只有商品翻覆/倒置180度之情況不在此限，若您無法承受運送中的風險，請改以門市取貨。</p>
    &nbsp;
    <p class="mb-4">1. 請先將毀損商品拍照存證。(內容包含：蛋糕主體、包裝盒、宅配託運單、宅配箱)</p>
    <p class="mb-4">2. 將照片檔案傳送至官網的gmil請同時留下訂購人大名及聯絡電話，約1-2個工作天，有專門夥伴與您聯繫。</p>
    <br />
  </div>

  <div class="text-start border-2 border-pink-950 bg-red-50 px-20 m-2.5">
    <br />
    <div class="text-xl font-bold mb-4 text-purple-800 flex justify-content-center align-item-center">
      <div class="bg-purple-400 text-white rounded-full p-2"><button>Q</button></div>
      &nbsp; &nbsp;
      <div class="text-2xl p-2">請問如何聯絡客服人員?</div>
    </div>
    <hr style="height: 1px; background-color: black; border: none" />
    <br />
    <p class="mb-4">客服回覆時間：12:00～19:00</p>
    <p class="mb-4">電子郵件：cakecapturetaiwan@gmail.com</p>
  </div>

  <div class="text-start border-2 border-pink-950 bg-red-50 px-20 m-2.5">
    <br />
    <div class="text-xl font-bold mb-4 text-purple-800 flex justify-content-center align-item-center">
      <div class="bg-purple-400 text-white rounded-full p-2"><button>Q</button></div>
      &nbsp; &nbsp;
      <div class="text-2xl p-2">請問商品保存期限有幾天?</div>
    </div>
    <hr style="height: 1px; background-color: black; border: none" />
    <br />
    <p class="mb-4">不同款產品的保存期限均不同</p>
    <p class="mb-4">商品頁面中均會記載保存方式及天數，商品上也會有標示製造日期及有效期限</p>
  </div>

  <div class="text-start border-2 border-pink-950 bg-red-50 px-20 m-2.5">
    <br />
    <div class="text-xl font-bold mb-4 text-purple-800 flex justify-content-center align-item-center">
      <div class="bg-purple-400 text-white rounded-full p-2"><button>Q</button></div>
      &nbsp; &nbsp;
      <div class="text-2xl p-2">請問如何取消訂單?</div>
    </div>
    <hr style="height: 1px; background-color: black; border: none" />
    <br />
    <p class="mb-4">請於商品指定到貨日前3天(不含到貨日當日) 撥打客服專線由專人為您處理</p>
  </div>

  <div class="text-start border-2 border-pink-950 bg-red-50 px-20 m-2.5">
    <br />
    <div class="text-xl font-bold mb-4 text-purple-800 flex justify-content-center align-item-center">
      <div class="bg-purple-400 text-white rounded-full p-2"><button>Q</button></div>
      &nbsp; &nbsp;
      <div class="text-2xl p-2">請問目前提供哪些寄送及付款方式呢?</div>
    </div>
    <hr style="height: 1px; background-color: black; border: none" />
    <br />
    <p class="mb-4">為確保品質，線上訂購並完成下單付款後才會進行製作。</p>
    <p class="mb-4">寄送方式：常溫宅配／低溫宅配</p>
    <p class="mb-4">付款方式：信用卡</p>
    <p class="mb-4">線上付款與第三方支付平台綠界科技合作，敬請安心使用</p>
  </div>
</div>
{% endblock %}
