{% extends "shared/base.html" %}
{% load static %}
{% block javascript %}
	<script src="{% static 'js/products_detail.js' %}" defer></script>
{% endblock javascript %}


{% block content %}

<div class="container bg-white mx-auto px-4 sm:px-8 grid grid-cols-1 sm:grid-cols-2 mt-10 sm:mt-32 mb-10 rounded-2xl p-6 sm:p-20 relative">


	<div class="discount-btn w-14 h-14 sm:w-20 sm:h-20 bg-red-100 bottom-4 right-4 absolute rounded-full flex items-center justify-center">
		<a href="{% url 'chats:home' %}" class="text-white font-semibold">Chat</a>
	</div>
	<div class="help-btn w-11 h-11 bg-red-100 bottom-4 left-4 absolute rounded-full flex items-center justify-center ">
		<span class="text-white font-semibold">Top</span>
	</div>
	<!-- 左邊圖片區 -->
	<section class="product-photo flex justify-center p-4 sm:p-10">

		<div class="main-photo col-span-2 ml-4">
			<div class="rounded-2xl w-full sm:w-[500px] h-auto sm:h-[500px] overflow-hidden">
				<img src="{{ product.image.url }}" class="w-full h-full object-cover" alt="Product Image">
			</div>
		</div>

	</section>
	<!-- 右邊文字說明區 -->
	<section class="product-description p-4 sm:p-10">
		<div class="product-title">
			<h1 class="font-bold text-3xl mb-4">{{product.name}}</h1>
			<em class="italic text-2xl">{{product.category}}</em>
			<div class="price-info">
				<br>
				<span class="text-gray-400 text-lg sm:text-3xl">${{product.price}}</span>
				<br>
				<br>
				數量： <input type="number" id="quantity-input" min="1" max="{{product.quantity}}" value="1" class="w-16 px-2 py-1 border border-black rounded-lg appearance-none sm:w-24">      
				<span class="text-gray-400 text-sm sm:text-l">庫存：{{product.quantity}}</span>
				<br>
				<br>
			</div>
		</div>
			<div class="product-star flex gap-3 mb-3">
				<div class="flex items-center">
					<div>
						<svg class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
						</svg>
					</div>
					<p class="text-lg font-bold leading-relaxed text-gray-900 antialiased averageRating">
					{% if product.average_rating is not None %}
						{{ product.average_rating|floatformat:1 }}
					{% else %}
						---
					{% endif %}</p>
				</div>
				<div class="text-lg font-bold leading-relaxed text-gray-900 antialiased">(<span class="reviewsCount">{{ reviews.paginator.count }}</span>)</div>
			</div>
			<div class="product-subheading font-medium">
				<!-- <p>It is really tasty.</p> -->
			</div>
			<div class="product-tab-wrapper mt-2" x-data="{}" >
				<div class="tab-title">
					<ul class="flex justify-start">
						<div class="bg-red-300 px-8 py-1 mr-2 rounded-2xl">
							<li class="font-medium">商品介紹</li>
						</div>
					</ul>
				</div>
				<div class="tab-content py-2 text-lg font-extralight my-10">
					{{product.description}}
				</div>
				
				<div class="product-action-btn flex flex-col my-2">
					{% if product.status is True %}
						<div class="product-collect text-center bg-red-300 px-8 py-2 rounded-2xl mt-3 hover:bg-red-500">
							<button class="favorite-btn" type="submit" data-product-id="{{ product.id }}"><a href="#">收藏商品</a></button>
						</div>
						<div class="product-purchase text-center bg-red-300 px-8 py-2 rounded-2xl mt-3 hover:bg-red-500">
							<button type="button" data-product-id="{{ product.id }}" class="add_cart">放到購物車</button>
						</div>
					{% else %}
							<div class="text-center px-8 py-2 rounded-2xl mt-3">
								<p class="text-xl font-bold text-red-500">很抱歉，本商品目前暫時下架，無法購買</p>
							</div>
					{% endif %}
				</div>
			</div>
		</section>
	</div>
		<!-- 加購商品 -->
		<div class="py-6 flex flex-col items-center">
			<div class="py-3">
				<h4 class="text-2xl font-bold">| 加購商品 |</h4>
			</div>
			<div class="flex gap-6">
				{% for upsell_p in upsell_products %}
				<!-- card -->
				<div
					class="relative flex w-full min-w-[15rem] max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg hover:scale-105 transition ease-in duration-300">
					<div
						class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
						<img src="{{ upsell_p.image.url }}" class="w-full h-[288px] object-cover" />
						
						
						
					</div>
					<br><br>
					<div class="mb-3 flex items-center justify-around">
					數量： <input type="number" id="quantity-input" min="1" max="{{upsell_p.quantity}}" value="1"
						class="w-24 px-2 py-1 border border-black rounded-lg appearance-none">
							<span class="text-gray-400 text-l">庫存：{{upsell_p.quantity}}</span>
					</div>
					<a href="{% url 'products:detail' upsell_p.id %}">
						<div class="p-6">
							<div class="mb-3 flex items-center justify-between">
								<!-- 產品名稱 -->
								<h5 class="block text-xl font-bold leading-snug tracking-normal text-blue-gray-900 antialiased">
									{{ upsell_p.name }}
								</h5>
								<p class="block text-base font-bold text-blue-500">$ {{ upsell_p.price }}</p>
								<!-- 產品評價 -->
								<p class="flex items-center gap-1.5 text-lg font-bold leading-relaxed text-blue-gray-900 antialiased">
									
								</p>
							</div>
							
							<div class="flex items-center justify-between">
								<!-- 產品價格 -->
								<div class="product-purchase text-center bg-red-300 px-8 py-2 rounded-2xl mt-3 hover:bg-red-500">
									<button type="submit" class="add_cart" data-product-id="{{ upsell_p.id }}"><a href="#">放到購物車</a></button>
								</div>
								
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	<div class="mx-20">
    {% if user.is_authenticated %}
		{% if make_review == True %}
			<div class="my-4 w-full" id="addReview">
					<h4 class="mb-5 font-bold text-xl border-b-2 border-red-400">發表評論</h4>
					<div class="flex flex-wrap gap-8">
						<form action="{% url 'products:add_review' product.id %}" method="POST" id="commentForm">
							{% csrf_token %}
							<div class="flex gap-6">
								<div>
									{{ review_form.review }}
								</div>
								<div class="flex flex-col justify-between">
									{{ review_form.rating }}
									<div>
											<button type="submit" class="text-xl text-white font-bold p-3 rounded-xl bg-red-400 hover:scale-105">留言</button>
									</div>
								</div>
							</div>
							
						</form>
						<div x-data="{ showTerms: false }" class="px-4 w-2/5">
							<h3 @click="showTerms = !showTerms" class="text-lg font-bold cursor-pointer">
									發表評論即代表您同意我們的 <br><span class="text-blue-700">《CakeCapture顧客評價條款》</span>
							</h3>
							<ol x-show="showTerms" class="list-decimal text-lg mt-2">
									<li>只要您提交內容給CakeCapture，即代表您聲明並保證您是該內容的唯一作者，也是著作財產權的所有者;</li>
									<li>您提交的內容完全正確，且不會對任何人或實體造成傷害;</li>
									<li>您提交的內容不得包含:</li>
									<ul class="list-disc pl-4">
											<li>就您所知有不實、不正確或誤導之虞的內容；</li>
											<li>侵犯任何第三方著作權、專利、商標、營業秘密或其他專有權利、公開權或隱私權的內容；</li>
											<li>違反任何法律、法令、條例或規章的內容；</li>
											<li>針對或可合理認為是對任何個人、合作夥伴或企業之誹謗、中傷、憎惡、種族或宗教偏見或攻擊、非法恐嚇或非法騷擾的內容；</li>
											<li>包括引用其他網站、地址、電子郵件地址、聯絡資訊或電話號碼之任何資訊的內容</li>
											<li>包含任何電腦病毒、蠕蟲或其他具有潛在破壞性之電腦程式或檔案的內容。</li>
									</ul>
									<li>CakeCapture 於自行斟酌後，有權更改、縮短或刪除 CakeCapture 網站上 CakeCapture 認為違反評價條款的任何內容，並免於因為您違反上述聲明與保證，或因為您違反任何法律或第三方權利所造成之任何已知與未知類型及性質的索賠、要求與損害賠償，包括合理律師費用。</li>
							</ol>
						</div>
					</div>
			</div>
    {% endif %}
		{% endif %}
    <div class="flex gap-6">
        <div class="w-full">
            <h4 class="mb-5 font-bold text-xl border-b-2 border-red-400">
                顧客評論(<span class="reviewsCount">{{ reviews.paginator.count }}</span>) 
                <span class="text-lg text-gray-600">平均星數(<span class="averageRating">
								{% if product.average_rating is not None %}
									{{ product.average_rating|floatformat:1 }}
								{% else %}
									---
								{% endif %}</span>)</span>
            </h4>
            <!-- reviews -->
            <div class="flex flex-col gap-6 comment-list">
                <!-- review -->
                {% for review in reviews %}
									<div class="rounded-xl bg-gray-100 p-5 shadow-lg shadow-blue-gray-500/40" id="review-{{ review.id }}">
											<div class="flex justify-between">
													<div class="flex gap-4">
															<p class="text-blue-500">{{ review.user.username|title }}</p>
															<p class="text-sm text-gray-600">{{ review.date|date:"d M, Y" }}</p>
													</div>
													<!-- rating stars -->
													<div class="flex items-center">
															{% for i in star_range %}
																	{% if i <= review.rating %}
																	<svg class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																			<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
																	</svg>
																	{% else %}
																	<svg class="w-5 h-5 text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																			<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
																	</svg>
																	{% endif %}
															{% endfor %}
													</div>
											</div>
											<p class="my-5 review-text">{{ review.review }}</p>
											{% if request.user == review.user %}
												<div>
													<button class="text-blue-500 hover:text-red-400 edit-button" data-review-id="{{ review.id }}" id="edit-review">編輯</button>
												</div>
											{% endif %}
									</div>
									<!-- 評論編輯區塊 -->
									<div class="my-4" style="display:none" id="edit-review-form-{{ review.id }}">
										<h4 class="mb-5 font-bold text-xl border-b-2 border-red-400">編輯評論</h4>
										<form action="{% url 'products:edit_review' review.id %}" method="POST" class="flex gap-6 editCommentForm"  data-review-id="{{ review.id }}">
												{% csrf_token %}
												<div>
														<textarea name="review" id="editReviewText" rows="5" cols="80" class="focus:outline-none border-2 border-gray-300 rounded-xl p-5">{{ review.review }}</textarea>
												</div>
												<div class="flex flex-col justify-between">
													<select name="rating" id="editReviewRating" class="border-2 border-gray-300 rounded-xl p-2 focus:outline-none">
														<option value="1" {% if review.rating == 1 %}selected{% endif %}>★☆☆☆☆</option>
														<option value="2" {% if review.rating == 2 %}selected{% endif %}>★★☆☆☆</option>
														<option value="3" {% if review.rating == 3 %}selected{% endif %}>★★★☆☆</option>
														<option value="4" {% if review.rating == 4 %}selected{% endif %}>★★★★☆</option>
														<option value="5" {% if review.rating == 5 %}selected{% endif %}>★★★★★</option>
													</select>
														<input type="hidden" name="review_id" id="editReviewId">
														<div>
																<button type="submit" class="text-xl text-white font-bold p-3 rounded-xl bg-red-400 hover:scale-105">更新留言</button>
														</div>
												</div>
										</form>
									</div>
                {% endfor %}
            </div>
						{% if has_next %}
							<button class="text-lg font-bold text-blue-500 rounded-full p-2 mt-3 hover:text-red-400" id="loadMoreReviewsBtn" data-page="2" data-url="{% url 'products:load_more_reviews' product.id %}" data-csrf-token="{{ csrf_token }}">-->載入更多<--</button>
						{% endif %}
        </div>
    </div>
	</div>
	<!-- 相關商品 -->
	<div class="py-6 flex flex-col items-center">
		<div class="py-3">
			<h4 class="text-2xl font-bold">| 同類型商品 |</h4>
		</div>
		<div class="flex flex-wrap justify-center gap-6">
			{% for product in related_products %}
			<!-- card -->
			<div class="relative flex w-full min-w-[10rem] max-w-[15rem] sm:min-w-[15rem] sm:max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg hover:scale-105 transition ease-in duration-300">
        <a href="{% url 'products:detail' product.id %}">
          <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
            <img src="{{ product.image.url }}" class="w-full h-[288px] object-cover"/>
            <!-- heart -->
            {% if product.is_favorited %}
              <button class="favorite-btn !absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-red-500 transition-all hover:bg-white/90 active:bg-red-500/30"
                type="button" data-product-id="{{ product.id }}">
                <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
                  </svg>
                </span>
              </button>
            {% else %}
              <button class="favorite-btn !absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-red-500 transition-all hover:bg-white/90 active:bg-red-500/30"
                      type="button" data-product-id="{{ product.id }}">
    
                <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true" class="h-6 w-6">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
                  </svg>
                </span>
              </button>
            {% endif %}

            {% if product.status is True %}
              <!-- cart -->
              <button class="!absolute top-14 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-blue-500 transition-all hover:bg-white/90 active:bg-blue-500/30 add_cart" type="button"value="{{product.id}}" data-product-id="{{product.id}}">
                <span class="absolute top-1/2 left-1/2 -translate-y-7 -translate-x-1/2 transform">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="file: mt-4 h-6 w-6 text-sky-600"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"/>
                  </svg>
                </span>
              </button>
            {% endif %}
          </div>
          <div class="p-6">
            <div class="mb-3 flex items-center justify-between">
              <!-- 產品名稱 -->
              <h5 class="block text-xl font-bold leading-snug tracking-normal text-blue-gray-900 antialiased">
              {{ product.name }}
              </h5>
              <!-- 產品評價 -->
              <p class="flex items-center gap-1.5 text-lg font-bold leading-relaxed text-blue-gray-900 antialiased">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                  class="-mt-0.5 h-5 w-5 text-yellow-500"
                >
                  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd"/>
                </svg>
                {% if product.average_rating is not None %}
                  {{ product.average_rating|floatformat:1 }}
                {% else %}
                  ---
                {% endif %}
              </p>
            </div>
            <div class="flex items-center justify-between">
              <!-- 產品價格 -->
              {% if product.status is True %}
                <p class="block text-base font-bold text-blue-500">$ {{ product.price }}</p>
              {% else %}
                <p class="font-bold text-red-500">本商品目前無法購買</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
		</div>
  </div>
<script>
	const Toast = Swal.mixin({
			toast: true,
			position: "center",
			showConfirmButton: false,
			timer: 1500,
			timerProgressBar: true,
			didOpen: (toast) =>
			{
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			}
		});
	$(document).ready(function () {
		$('.favorite-btn').on('click', function (event) {
			event.preventDefault();
			let productId = $(this).data('product-id');
			let $button = $(this);
	
			$.ajax({
				type: 'POST',
				url: "{% url 'products:add_to_favorites' %}",
				data: {
					'product_id': productId,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					if (response.status === 'added') {
						Toast.fire({
							icon: 'success',
							title: '商品已被加入我的最愛',
							showConfirmButton: false,
							timer: 1500
						});
						$button.find('svg').attr('fill', 'currentColor').attr('stroke', 'none');
					} else if (response.status === 'exists') {
						Toast.fire({
							icon: 'info',
							title: '商品已在我的最愛中',
							showConfirmButton: false,
							timer: 1500
						});
					} else if (response.status === 'not_authenticated') {
						
						Toast.fire({
							icon: 'warning',
							title: '本功能僅限會員使用',
							showConfirmButton: false,
							timer: 1500
						});
					}
				},
				error: function (xhr, status, error) {
					Toast.fire({
						icon: 'error',
						title: '發生錯誤，請稍後再試',
						showConfirmButton: false,
						timer: 1500
					});
				}
			});
		});
	});

		$(document).ready(function ()
			{
				let productsInCart = {}; 

				$(document).on('click', '.add_cart', function (e)
				{
					e.preventDefault();
					let product_id = $(this).data('product-id');

					if (productsInCart[product_id])
					{
					
						Toast.fire({
							icon: 'warning',
							title: '购物车里已有商品',
							showConfirmButton: false,
							timer: 1500
						});
					} else
					{
						
						$.ajax({
							type: 'POST',
							url: "{% url 'carts:add' %}",
							data: {
								product_id: product_id,
								product_qty: 1,
								csrfmiddlewaretoken: '{{ csrf_token }}',
								action: 'post'
							},
							success: function (json)
							{
								if (json.status === 'not_authenticated')
								{
									Toast.fire({
										icon: 'warning',
										title: '本功能僅限會員使用',
										showConfirmButton: false,
										timer: 1500
									});
								} else
								{
									var cartQuantitySpan = document.getElementById('cart_quantity');
									cartQuantitySpan.textContent = json.qty;
									if (json.qty > 0)
									{
										cartQuantitySpan.style.display = 'flex';
									} else
									{
										cartQuantitySpan.style.display = 'none';
									}

									
									Toast.fire({
										icon: 'success',
										title: '商品已被加入购物车',
										showConfirmButton: false,
										timer: 1500 
									});
									
									productsInCart[product_id] = true;
								}
							},
							error: function (xhr, errmsg, err)
							{
								
							}
						});
					}
				});
			});


</script>
{% endblock %}