{% extends "shared/base.html" %} 

{% block content %}
<section class="pt-[100px] px-[20px] h-full bg-gray-100">
  <div class="flex flex-col md:flex-row justify-center gap-2">
    <!-- sidebar -->
    <div class="w-1/6 flex flex-col gap-y-2 text-black font-bold text-xl min-w-[120px] ">
      <a href="{% url 'products:all' %}" class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100">所有商品</a>
      {% for category in categories %}
      <a href="{% url 'products:category' category %}" class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100">{{ category }}</a>
      {% endfor %}
    </div>
    <!-- products area -->
    <div class="w-full md:w-2/3 px-6 text-black">
			<!-- title -->
			{% block products_title %} {% endblock %}
			<div class="flex justify-between align-text-bottom">
        <div class="flex gap-2">
          <!-- sort menu -->
          <div x-data="{ dropdownOpen: false, selectedOption: '{{ selected_option }}'}"
          class="my-6 text-md relative p-2 font-bold min-w-[8rem]">
            <div
              @click="dropdownOpen = !dropdownOpen"
              @click.away="dropdownOpen = false"
              class="cursor-pointer select-none flex gap-1"
            >
              <p class="text-lg" x-text="selectedOption"></p>
              <img x-bind:class="dropdownOpen ? 'rotate-180 duration-300' : 'rotate-0 duration-300'" class="w-4" src="https://img.icons8.com/material/24/expand-arrow--v1.png" alt="expand-arrow--v1"/>
            </div>
            <div
              x-show="dropdownOpen"
              x-cloak
              class="absolute left-0 bg-gray-100 text-black text-lg border border-gray-300 shadow rounded-lg w-60 p-3 z-20"
              x-transition:enter="duration-300 ease-out"
              x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
              x-transition:enter-end="opacity-100 -translate-y-0 scale-100"
            >
            {% block products_sort %} {% endblock %}
            </div>
          </div>
          <!-- price range menu -->
          <div x-data="{ Open: false, selectedPrice: '{{ selected_price }}'}"
          class="my-6 text-md relative p-2 font-bold min-w-[8rem]">
              <div
                @click="Open = !Open"
                @click.away="Open = false"
                class="cursor-pointer select-none flex gap-1"
              >
                  <p class="text-lg" x-text="selectedPrice"></p>
                  <img x-bind:class="Open ? 'rotate-180 duration-300' : 'rotate-0 duration-300'" class="w-4" src="https://img.icons8.com/material/24/expand-arrow--v1.png" alt="expand-arrow--v1"/>
              </div>
              <div
                x-show="Open"
                x-cloak
                class="absolute left-0 bg-gray-100 text-black text-lg border border-gray-300 shadow rounded-lg w-60 p-3 z-20"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 -translate-y-0 scale-100"
              >
              {% block price_range %} {% endblock %}
              </div>
          </div>
        </div>
        <!-- search bar  -->
        <div class="pt-6 pr-10 relative text-gray-600">
          <form method="get" action="{% url 'products:search' %}">
            <input
            class="border-2 bg-white h-10 px-5 pr-16 rounded-lg text-sm ring-2 ring-gray-100 focus:ring-red-300 focus:outline-none peer"
            type="search"
            name="search"
            placeholder="Search"
            autocomplete="off"
          />
            <button type="submit" class="absolute right-14 top-9">
              <svg
                class="text-gray-600 h-4 w-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_1"
                x="0px"
                y="0px"
                viewBox="0 0 56.966 56.966"
                style="enable-background: new 0 0 56.966 56.966"
                xml:space="preserve"
                width="512px"
                height="512px"
              >
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                />
              </svg>
            </button>
          </form>
        </div>
    </div>
		
		<!-- cards -->
    <div class="flex flex-wrap gap-6 justify-center md:justify-start">
    {% for product in products %}
      <!-- card -->
      <div class="relative flex w-[calc(50%-0.5rem)] sm:w-[calc(33.333%-1rem)] min-w-[15rem] max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg hover:scale-105 transition ease-in duration-300">
        <a href="{% url 'products:detail' product.id %}">
          <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
            <img src="{{ product.image.url }}" class="w-full h-[288px] object-cover"/>
            <!-- heart -->
            {% if product.is_favorited %}
              <button class="favorite-btn !absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-red-500 transition-all hover:bg-white/90 active:bg-red-500/30"
                type="button" data-product-id="{{ product.id }}">
                <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
                  </svg>
                </span>
              </button>
            {% else %}
              <button class="favorite-btn !absolute top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-red-500 transition-all hover:bg-white/90 active:bg-red-500/30"
                      type="button" data-product-id="{{ product.id }}">
    
                <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true" class="h-6 w-6">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
                  </svg>
                </span>
              </button>
            {% endif %}

            {% if product.status is True %}
              <!-- cart -->
              <button class="!absolute top-14 right-4 h-8 max-h-[32px] w-8 max-w-[32px] bg-white/70 select-none rounded-lg text-center align-middle text-xs font-medium text-blue-500 transition-all hover:bg-white/90 active:bg-blue-500/30 add_cart" type="button"value="{{product.id}}" data-product-id="{{product.id}}">
                <span class="absolute top-1/2 left-1/2 -translate-y-7 -translate-x-1/2 transform">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="file: mt-4 h-6 w-6 text-sky-600"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"/>
                  </svg>
                </span>
              </button>
            {% endif %}
          </div>
          <div class="p-6">
            <div class="mb-3 flex items-center justify-between">
              <!-- 產品名稱 -->
              <h5 class="block text-xl font-bold leading-snug tracking-normal text-blue-gray-900 antialiased">
              {{ product.name }}
              </h5>
              <!-- 產品評價 -->
              <p class="flex items-center gap-1.5 text-lg font-bold leading-relaxed text-blue-gray-900 antialiased">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                  class="-mt-0.5 h-5 w-5 text-yellow-500"
                >
                  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd"/>
                </svg>
                {% if product.average_rating is not None %}
                  {{ product.average_rating|floatformat:1 }}
                {% else %}
                  ---
                {% endif %}
              </p>
            </div>
            <div class="flex items-center justify-between">
              <!-- 產品價格 -->
              {% if product.status is True %}
                <p class="block text-base font-bold text-blue-500">$ {{ product.price }}</p>
              {% else %}
                <p class="font-bold text-red-500">本商品目前無法購買</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
	<!-- 換頁區域 -->
	{% block products_paginator %} {% endblock %}
</section>
<script>
  const Toast = Swal.mixin({
      toast: true,
      position: "center",
      showConfirmButton: false,
      timer: 1500,
      timerProgressBar: true,
      didOpen: (toast) =>
      {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
  $(document).ready(function ()
  {
    let productsInCart = {}; // 用於追蹤每個商品是否已加入購物車

    $(document).on('click', '.add_cart', function (e)
    {
      e.preventDefault();
      let product_id = $(this).data('product-id');

      if (productsInCart[product_id])
      {
        // 商品已在購物車中，顯示提示訊息
        Toast.fire({
          icon: 'warning',
          title: '購物車裡已有商品',
          showConfirmButton: false,
          timer: 1500
        });
      } else
      {
        // 商品未在購物車中，發送Ajax請求
        $.ajax({
          type: 'POST',
          url: "{% url 'carts:add' %}",
          data: {
            product_id: product_id,
            product_qty: 1,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
          },
          success: function (json)
          {
            if (json.status === 'not_authenticated')
            {
              Toast.fire({
                icon: 'warning',
                title: '本功能僅限會員使用',
                showConfirmButton: false,
                timer: 1500
              });
            } else
            {
              var cartQuantitySpan = document.getElementById('cart_quantity');
              cartQuantitySpan.textContent = json.qty;
              if (json.qty > 0)
              {
                cartQuantitySpan.style.display = 'flex';
              } else
              {
                cartQuantitySpan.style.display = 'none';
              }

              // 使用SweetAlert2顯示成功提示框
              Toast.fire({
                icon: 'success',
                title: '商品已被加入購物車',
                showConfirmButton: false,
                timer: 1500 // 提示框顯示時間
              });
              // 更新商品狀態為已在購物車中
              productsInCart[product_id] = true;
            }
          },
          error: function (xhr, errmsg, err)
          {
            // 錯誤處理，可以根據需要進行擴展
          }
        });
      }
    });
  });


$(document).ready(function () {
  $('.favorite-btn').on('click', function (event) {
    event.preventDefault();
    let productId = $(this).data('product-id');
    let $button = $(this);

    $.ajax({
      type: 'POST',
      url: "{% url 'products:add_to_favorites' %}",
      data: {
        'product_id': productId,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function (response) {
        if (response.status === 'added') {
          Toast.fire({
            icon: 'success',
            title: '商品已被加入我的最愛',
            showConfirmButton: false,
            timer: 1500
          });
          $button.find('svg').attr('fill', 'currentColor').attr('stroke', 'none');
        } else if (response.status === 'exists') {
          Toast.fire({
            icon: 'info',
            title: '商品已在我的最愛中',
            showConfirmButton: false,
            timer: 1500
          });
        } else if (response.status === 'not_authenticated') {
          Toast.fire({
            icon: 'warning',
            title: '本功能僅限會員使用',
            showConfirmButton: false,
            timer: 1500
          });
        }
      },
      error: function (xhr, status, error) {
        Toast.fire({
          icon: 'error',
          title: '發生錯誤，請稍後再試',
          showConfirmButton: false,
          timer: 1500
        });
      }
    });
  });
});
  
</script>

{% endblock %}