{% extends "products/products_base.html" %} 

		{% block products_title %}
			<h2 class="text-2xl font-bold">| {{ query }} | <span class="text-lg text-red-500">共有 {{ products.paginator.count }} 件商品</span></h2>
		{% endblock %}
			
					{% block products_sort %}
						<ul>
							<a href="?search={{ query }}&sort_by=default">
								<li
									class="rounded-lg hover:bg-red-200 block pd-1 mb-2"
									@click="selectedOption = '預設排序'"
								>
								預設排序
								</li>
							</a>
							<a href="?search={{ query }}&sort_by=ph2l">
								<li
									class="rounded-lg hover:bg-red-200 block pd-1 mb-2"
									@click="selectedOption = '價格由高到低'"
								>
								價格由高到低
								</li>
							</a>
							<a href="?search={{ query }}&sort_by=pl2h">
								<li
								class="rounded-lg hover:bg-red-200 block pd-1 mb-2"
								@click="selectedOption = '價格由低到高'"
								>
								價格由低到高
								</li>
							</a>
							<a href="?search={{ query }}&sort_by=rh2l">
								<li
									class="rounded-lg hover:bg-red-200 block pd-1 mb-2"
									@click="selectedOption = '評分由高到低'"
								>
								評分由高到低
								</li>
							</a>
							<a href="?search={{ query }}&sort_by=rl2h">
								<li
									class="rounded-lg hover:bg-red-200 block pd-1"
									@click="selectedOption = '評分由低到高'"
								>
								評分由低到高
								</li>
							</a>
						</ul>
					{% endblock %}
				
{% block products_paginator %}					
	<div class="flex justify-end gap-3 py-12 pr-11">
		{% if products.has_previous %}
		<a href="?search={{ query }}&sort_by={{ sort_by }}&page=1" class="text-gray-600 hover:text-red-400">&laquo 第一頁</a>
		<a href="?search={{ query }}&sort_by={{ sort_by }}&page={{ products.previous_page_number }}" class="text-gray-600 hover:text-red-400">上一頁</a>
		{% endif %}

		<p class="font-bold">Page {{ products.number }} of {{ products.paginator.num_pages }}</p>

		{% if products.has_next %}
		<a href="?search={{ query }}&sort_by={{ sort_by }}&page={{ products.next_page_number }}" class="text-gray-600 hover:text-red-400">下一頁</a>
		<a href="?search={{ query }}&sort_by={{ sort_by }}&page={{ products.paginator.num_pages }}" class="text-gray-600 hover:text-red-400">最後一頁 &raquo</a>
		{% endif %}
	</div>
{% endblock %}
