SECRET_KEY=Django-Secret-Key

DB_NAME=Your-PostgreSQL-Database-Name
DB_USER=Your-PostgreSQL-User-Name
DB_PASSWORD=Your-PostgreSQL-User-Password
DB_HOST=localhost
DB_PORT=5432

CLIENT_ID=Google-Client-ID
SECRET=Google-Secret

EMAIL_BACKEND=Backend
EMAIL_HOST=Host
EMAIL_USE_TLS=Bool
EMAIL_PORT=Port
EMAIL_HOST_USER=Your-Gmail-Address
EMAIL_HOST_PASSWORD=Your-Gmail-App-Password

AWS_ACCESS_KEY_ID=S3-Key-ID
AWS_SECRET_ACCESS_KEY=S3-Key

DOMAIN=domain
DOMAIN_PRODUCTS={DOMAIN}/products
DOMAIN_ORDERS_RETURN={DOMAIN}/orders/return
DOMAIN_ORDERS_RESULT={DOMAIN}/orders/result

LINE_CHANNEL_SECRET=LINE-Secret
LINE_ACCESS_TOKEN=LINE-Token
