{% extends "feedbacks/feedbacks_base.html" %} 
{% block title %}Cake Capture - 訊息總覽{% endblock title %}

{% block feedbacks_content %}
<div class="mb-4">
	<h1 class="text-2xl font-bold border-b-2 border-red-300">訊息總覽</h1>
</div>
{% if feedbacks %}
	<table class="min-w-full bg-white mb-4">
		<thead>
				<tr>
					<th class="py-2 px-4 border-b text-center text-xl">留言時間</th>
						<th class="py-2 px-4 border-b text-center text-xl">留言標題</th>
						<th class="py-2 px-4 border-b text-center text-xl">回覆</th>
				</tr>
		</thead>
		<tbody>
				{% for feedback in feedbacks %}
				<tr>
					<td class="py-2 px-4 border-b text-center text-xl">{{ feedback.add_time|date:"Y-m-d H:i" }}</td>
					<td class="py-2 px-4 border-b text-center text-xl">
						{{ feedback.title }}</td>
					{% if feedback.reply %}
						<td class="py-2 px-4 border-b text-center text-xl hover:text-red-400"><a href="{% url 'feedbacks:reply' feedback.pk %}">查看回覆</a></td>
					{% else %}
						<td class="py-2 px-4 border-b text-center text-xl">---</a></td>
					{% endif %}
				</tr>
				{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="text-lg">您目前還沒有任何留言記錄</p>
{% endif %}
{% endblock %}