{% extends "managements/managements_base.html" %} 

{% block managements_content %}
<div class="border-b-2 border-red-300 mb-4 flex justify-between">
	<h1 class="text-2xl font-bold">優惠券總覽</h1>
	<form method="get" action="{% url 'managements:coupon_list' %}" class="mb-4">
		<input type="text" name="search" value="{{ query }}" placeholder="優惠券代碼" class="border rounded px-4 py-2">
		<button type="submit" class="bg-blue-400 text-white px-4 py-2 rounded">搜尋</button>
	</form>
</div>

<table class="min-w-full bg-white mb-4">
	<thead>
			<tr>
					<th class="py-2 px-4 border-b text-center text-xl">優惠券代碼</th>
					<th class="py-2 px-4 border-b text-center text-xl">折扣金額</th>
					<th class="py-2 px-4 border-b text-center text-xl">折扣次數</th>
			</tr>
	</thead>
	<tbody>
			{% for coupon in coupons %}
			<tr>
					<td class="py-2 px-4 border-b text-center text-xl hover:text-red-400">
						<a href="{% url 'managements:edit_coupon' coupon.pk %}">{{ coupon.code }}</a></td>
					<td class="py-2 px-4 border-b text-center text-xl">{{ coupon.discount }}</td>
					<td class="py-2 px-4 border-b text-center text-xl">{{ coupon.usage_limit }}</td>
			</tr>
			{% endfor %}
	</tbody>
</table>
{% endblock %}