{% extends "shared/base.html" %} 

{% block content %}
<section class="pt-[100px] px-[20px] h-full bg-gray-100">
  <div class="flex justify-center gap-2">
    <!-- sidebar -->
    <div class="w-1/6 flex flex-col gap-y-2 text-black font-bold text-xl min-w-[120px]">
			<ul class="flex flex-col gap-y-2">
					<li class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100" x-data="{ open: false }">
							<button @click="open = !open" class="w-full text-left">商品狀況</button>
							<ul x-show="open" @click.away="open = false" x-cloak class="pl-4">
									<li class="text-gray-500 hover:text-red-400"><a href="{% url 'managements:product_list' %}">商品總覽</a></li>
									<li class="text-gray-500 hover:text-red-400"><a href="{% url 'managements:add_product' %}">新增商品</a></li>
									<li class="text-gray-500 hover:text-red-400"><a href="{% url 'managements:category_list' %}">類別總覽</a></li>
									<li class="text-gray-500 hover:text-red-400"><a href="{% url 'managements:quantity_charts' %}">及時庫存</a></li>
									<li class="text-gray-500 hover:text-red-400"><a href="{% url 'managements:quantity_index' %}">補貨系統</a></li>
							</ul>
					</li>
					<li class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100">訂單狀況</li>
					<li class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100">顧客留言</li>
					<li class="border-b-2 border-red-300 hover:scale-105 hover:border-red-400 transition ease-in duration-100" x-data="{ open: false }">
							<button @click="open = !open" class="w-full text-left">數據分析</button>
							<ul x-show="open" @click.away="open = false" x-cloak class="pl-4">
									<li class="text-gray-500 hover:text-red-400">商品收藏數總覽</li>
									<li class="text-gray-500 hover:text-red-400">本月商品銷售數量</li>
									<li class="text-gray-500 hover:text-red-400">本月商品銷售金額</li>
									<li class="text-gray-500 hover:text-red-400">本月商品銷售額圓餅圖</li>
									<li class="text-gray-500 hover:text-red-400">各月份商品銷售金額折線圖</li>
							</ul>
					</li>
			</ul>
	 	</div>
		<div class="w-2/3 px-6 text-black">
			{% block managements_content %} {% endblock %}
		</div>
  </div>
</section>
{% endblock %}