{% extends "managements/managements_base.html" %} 

{% block managements_content %}
	<div>
		<h1 class="text-2xl font-bold border-b-2 border-red-300 mb-4">商品及時庫存</h1>
			{% for category, graph in category_graphs.items %}
				<div>
					{{ graph|safe }}
				</div>
				<div class="text-right my-4">
					<a href="{% url 'managements:quantity_alter' category=category %}" class="text-xl mt-4 bg-red-300 hover:bg-red-400 text-white font-bold py-2 px-4 rounded">{{ category }}補貨系統</a>
				</div>
			{% endfor %}
	</div>
{% endblock %}