{% extends "shared/base.html" %}

{% block content %}
<style>
	label {
		display: none
	}
</style>

<content class="block w-full">
	<wrapper class="block max-w-2xl mx-auto mt-40 mb-20 px-6">
    <div id="chat_window" class="h-[45rem] flex flex-col bg-purple-200 rounded-2xl shadow-2xl relative p-1">
      <div class="flex justify-center text-white bg-purple-200 p-2 sticky top-0 z-10 font-bold">
        <span id="online-count" class="pr-1">admin</span>is online
      </div>
      <div id='chat_container' class="overflow-y-auto grow">
				<ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
					{% for message in chat_messages reversed %}
					{% include "chats/chatroom_msg.html" %}
					{% endfor %}
				</ul>
      </div>
      <div class="sticky bottom-0 z-10 p-2 bg-purple-200">
				<div class="flex items-center rounded-xl px-2 py-2">
					<form id="chat_message_form" class="w-full"
					hx-ext="ws"
					ws-connect="/ws/chatroom/public-chat"
					ws-send
					_="on htmx:wsAfterSend reset() me"
					>
						{% csrf_token %}
						{{ form }}
					</form>
				</div>
      </div>
    </div>
	</wrapper>
</content>

<script>
	function scrollToButtom() {
		const container = document.getElementById("chat_container");
		container.scrollTop = container.scrollHeight;
	}
	scrollToButtom()
</script>

{% endblock %}