{% extends "shared/base.html" %}
{% block title %}Cake Capture - 訂單詳情{% endblock title %}
{% load static %}
{% block content %}

<section class="fail-msg">
  <div class="container mt-28 mx-auto">
    <div class="block text-center">
      <h2 class="text-center text-4xl font-bold mb-6">付款失敗，請重新下單</h2>
          <p> 您好, LINE Pay 因預期外的原因發生錯誤, 請使用重新下單, 若持續失敗請由'使用者資訊'的'訊息'與我們聯繫處理</p>
    </div>
    <div class="mx-auto flex justify-center">
      <form method="post" action="{% url 'carts:rebuyonfail' order_id=order_id %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <button type="submit" class="rounded-xl mt-10 p-2 bg-red-300 hover:bg-red-500">重新購買</button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
