{% extends 'shared/base.html' %}
{% block title %}Cake Capture - 確認訂單{% endblock title %}
{% block content %}
<!-- container -->
<div class="mt-28 w-screen max-w-screen-2xl mx-auto">
  <div class="m-2 p-1 text-2xl font-semibold">
    <p>親愛的會員您好，請確認下列購物資訊是否正確</p>
  </div>
  <!-- section-confirm-detail -->
  <div class="mt-12 m-2 p-1">
    <div class="w-60 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>購物明細</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- detail-column -->
    <div class="flex justify-around mt-2 rounded-lg bg-red-200 p-1 text-center text-xl font-semibold text-red-400">
      <div class="w-2/5 p-2 border-r-2 border-red-400">
        <p>商品明細</p>
      </div>
      
      <div class="w-1/6 p-2 border-r-2 border-red-400">
        <p>數量</p>
      </div>
      <div class="w-1/5 p-2 border-r-2 border-red-400">
        <p>金額</p>
      </div>
      <div class="w-1/12 p-2">
        <p>庫存</p>
      </div>
    </div>
    <!-- detail-product -->
    {% for product in cart_products %}
    <div class="flex justify-around mt-1 rounded-xl border-red-200 border-2 p-2 text-2xl">
      <div class="w-2/5 p-2 text-left border-r-2 border-transparent">
        <p>{{ product.name }}</p>
      </div>
      
      <div class="w-1/6 p-2 text-right border-r-2 border-transparent">
      {% for key,value in quantities.items %}
      {% if key == product.id|slugify %}
        <p>{{ value }}</p>
      {% endif %}
      {% endfor %}
      </div>
      <div class="w-1/5 p-2 text-right border-r-2 border-transparent">
        <p>$ {{ product.price }}</p>
      </div>
      <div class="w-1/12 p-2 text-center">
        <p> 有庫存 </p>
      </div>
    </div>
    {% endfor %}

    <!-- section-postage -->
    <div class="flex justify-end border-2 border-red-200 mt-2 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>處理費 / 郵資</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>{{ shipping_fee }}</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>

    <!-- section-order-total -->
    <div class="flex justify-end bg-red-200 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>訂單金額總計</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>{{ totals }}</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>

		<!-- section-postage -->
		<div class="flex justify-end border-2 border-red-200 p-2 text-xl">
			<div class="w-1/2 p-2 text-right">
				<p>折扣金額</p>
			</div>
			<div class="flex w-1/3 p-2">
				<div class="w-1/4">
					<p>NT$&nbsp;</p>
				</div>
				<div class="w-1/2 text-right text-xl font-semibold text-red-500">
					<p>{{ coupon_discount }}</p>
				</div>
				<div class="w-1/4 text-right">
					<p>元</p>
				</div>
			</div>
		</div>


    <!-- section-result-price -->
    <div class="flex justify-end bg-black rounded-b-xl mt-2 p-2 text-2xl text-white ">
      <div class="w-1/2 p-2 text-right">
        <p>此訂單需繳付金額</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-2xl font-semibold text-white">
          <p>{{ totals_with_everything }} </p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
  </div>
  <!-- section-payment_delivery_confirm -->
  <div class="m-2 p-1">
    <!-- section-title-tag -->
    <div class="w-60 mt-12 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>付款方式與寄送資訊</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- section-delivery-info -->
    <div class="mt-2 p-2 rounded-xl border-2 border-red-300">
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>配送方式</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
					{% if order_method.delivery_method == "pick_up" %}
					<p>自取</p>
					{% else %}
					<p>宅配</p>
					{% endif %}
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>付款方式</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
					{% if order_method.payment_method == "credit_card" %}
					<p>綠界支付</p>
					{% else %}
					<p>LINE Pay</p>
					{% endif %}
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>收件者</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_method.recipient_name}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>聯絡電話</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_method.recipient_cell_phone}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>E-mail</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_method.recipient_email}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>取貨地點</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          {% if order_method.delivery_method == 'pick_up' %}
            <p>自取</p>
          {% else %}
            <p>{{ order_method.recipient_address }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- section-check-btn -->
  <div class="flex justify-end mt-12 m-2 p-2 text-xl">
    <a href="{% url 'orders:order_form' %}" class="w-1/4 p-4 rounded-xl bg-gray-300 text-center">
      &#10094;&nbsp;&nbsp;上一步
    </a>
		{% if order_method.payment_method == "line_pay" %}
		<form action="{% url 'orders:line_pay_request' %}" method="post" class="w-1/4 ml-10">
      {% csrf_token %}
      <input type="hidden" name="order_id" value="{{ order.order_id }}">
      <input type="hidden" name="amount" value="{{ totals }}">
      <button type="submit" class="w-full p-4 rounded-xl bg-green-300 text-center">
        確認, 送出訂單&nbsp;&nbsp;&check;
      </button>
		</form>
		{% else %}
		<form action="{% url 'orders:ecpay' %}" method="post" class="w-1/4 ml-10">
			{% csrf_token %}
			<input type="hidden" name="order_id" value="{{ order.order_id }}">
			<button type="submit" class="w-full p-4 rounded-xl bg-red-300 text-center">
				確認, 送出訂單&nbsp;&nbsp;&check;
			</button>
		</form>
		{% endif %}
  </div>
</div>
{% endblock %}
