{% extends 'shared/base.html' %}
{% block content %}
<form action="{% url 'orders:order_confirm' %}" method="post">
  {% csrf_token %}

  <div class="mt-28 w-screen max-w-screen-2xl mx-auto">
    <!-- section-delivery -->
    <div class="m-2 p-2 text-center text-xl font-semibold">
      <!-- delivery-tag -->
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>選擇配送方式</h3>
      </div>
      <span class="block w-full h-1 bg-red-300"></span>
      <!-- delivery-options -->
      <div class="mt-2">
        {% for field in form.delivery_method %}
        <div
          class="flex items-center {% if forloop.first %}rounded-t-xl{% elif forloop.last %}rounded-b-xl{% endif %} p-3 bg-gray-200">
          {{ field }}
        </div>
        {% endfor %}
      </div>
    </div>
  
    <!-- section-payment -->
    <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
      <!-- payment-tag -->
      <div class="flex justify-between items-center">
        <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
          <h3>選擇付款方式</h3>
        </div>
        <div class="block" onclick="togglePaymentNotice1()">
          <div class="flex items-center">
            <p class="mr-2 text-gray-700">付款說明</p>
            <p class="w-7 h-7 rounded-3xl bg-red-300 text-lg text-white cursor-pointer">？</p>
          </div>
        </div>
      </div>

      <span class="block w-full h-1 bg-red-300"></span>
      <!-- payment-options -->
      <div class="mt-2 text-center text-xl font-semibold">
				{% for field in form.payment_method %}
					<div class="flex {% if forloop.first %}rounded-t-xl{% elif forloop.last %}rounded-b-xl{% endif %}">
						<div class="flex items-center w-full p-3 bg-gray-200">
							{{ field }}
						</div>
					</div>
				{% endfor %}
			</div>
      <!-- payment-notice -->
      <div id="payment-notice" class="mt-2 rounded-xl border-2 border-red-300 p-3 text-left text-gray-700 -indent-6" style="display: none;">
        <p class="ml-4 text-justify">
          <span>・</span>
          信用卡僅限持卡人本人使用，本公司得就本件交易資料向發卡銀行、收單行、及持卡人照會是否屬實，核對無誤後付款才算完成。
        </p>
        <p class="ml-4 text-justify">
          <span>・</span>
          選擇超商取貨付款前往門市取貨時，僅接受現金付款或5000元(含)以下可用信用卡，適用之信用卡發卡銀行依超商規定(後續如有退款之情事發生，款項將會退至訂購人之會員帳戶餘額內，請參考退款方式相關)。
        </p>
      </div>
    </div>

		<div class="m-2 p-2 text-center text-xl font-semibold">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>選擇優惠券</h3>
      </div>
      <span class="block w-full h-1 bg-red-300"></span>
      <div class="mt-2">
				<div class="flex items-center rounded-t-xl rounded-b-xl p-3 bg-gray-200">
					優惠代碼
					<select class="ml-10" id="id_coupons" name="used_coupon">
						<option value="">請選擇優惠代碼</option>
						{% for field in form.used_coupon %}
						{{ field }}
						{% endfor %}
					</select>
        </div>
      </div>
    </div>

    <div x-data="{
      order_name: '{{ form.order_name.value|default_if_none:"" }}',
      order_email: '{{ form.order_email.value|default_if_none:"" }}',
      address: '{{ form.order_address.value|default_if_none:"" }}',
      cell_phone: '{{ form.order_cell_phone.value|default_if_none:"" }}',
      recipient_name: '',
      recipient_cell_phone: '',
      recipient_address: '',
      recipient_email: '',
      useOrderInfo: false,
      syncInfo() {
        if (this.useOrderInfo) {
          this.recipient_name = this.order_name;
          this.recipient_cell_phone = this.cell_phone;
          this.recipient_address = this.address;
          this.recipient_email = this.order_email;
        } else {
          this.recipient_name = '';
          this.recipient_cell_phone = '';
          this.recipient_address = '';
          this.recipient_email = '';
        }
      }
    }">
    <!-- section-order-info -->
      <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
        <!-- order-info-tag -->
        <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
          <h3>訂購人資訊</h3>
        </div>
        <span class="block w-full h-1 bg-red-300"></span>
        <!-- order-info-detail -->
        <div class="mt-2 p-3 rounded-xl border-2 border-red-300" >
          <div class="flex justify-start">
            <label for="order_name" class="w-1/12 p-2 text-left">姓名</label>
            <input type="text" id="order_name" name="order_name" x-model="order_name" class="border-2 border-gray-300 rounded-md p-2" required>
              {% if form.order_name.errors %}
            <div class="text-red-500">
                {% for error in form.order_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
          </div>
          <div class="flex justify-start items-center mt-2">
            <label for="order_cell_phone" class="w-1/12 p-2 text-left">手機</label>
            <input type="text" id="order_cell_phone" name="order_cell_phone" x-model="cell_phone" class="border-2 border-gray-300 rounded-md p-2" pattern="09\d{8}" title="手機號碼必須以09開頭並且總長度為10位數字。" placeholder="輸入格式 09XXXXXXXX" required>
              {% if form.order_cell_phone.errors %}
            <div class="text-red-500">
              {% for error in form.order_cell_phone.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
          </div>
          <div class="flex justify-start items-center mt-2">
              <label for="order_address" class="w-1/12 p-2 text-left">聯絡地址</label>
              <input type="text" id="order_address" name="order_address" x-model="address" class="border-2 border-gray-300 rounded-md p-2" required>
              {% if form.order_address.errors %}
            <div class="text-red-500">
                {% for error in form.order_address.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
          </div>
          <div class="flex justify-start mt-2">
              <label for="order_email" class="w-1/12 p-2 text-left">E-mail</label>
              <input type="email" id="order_email" name="order_email" x-model="order_email" class="border-2 border-gray-300 rounded-md p-2" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Email must contain an '@' and a dot." required>
              {% if form.order_email.errors %}
            <div class="text-red-500">
                {% for error in form.order_email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
          </div>

        </div>
      </div>
    
      <!-- section-recipient-info -->
      <div class="mt-12 m-2 p-2 text-center text-xl font-semibold " >
        <!-- recipient-info-tag -->
        <div class="flex justify-between items-center w-full">
          <div class="flex items-center space-x-4">
            <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
              <h3>收件人資訊</h3>
            </div>
            <div class="flex items-center">
              <input type="checkbox" x-model="useOrderInfo" x-on:change="syncInfo" id="sameAsOrderInfo" class="form-checkbox h-5 w-5 text-red-600">
              <label for="sameAsOrderInfo" class="text-gray-700 ml-2 cursor-pointer">同訂購人資訊</label>
            </div>
          </div>
          <div class="block" onclick="togglePaymentNotice2()">
            <div class="flex items-center">
              <p class="mr-2 text-gray-700">寄送說明</p>
              <p class="w-7 h-7 rounded-3xl bg-red-300 text-lg text-white cursor-pointer">？</p>
            </div>
          </div>
        </div>
        <span class="block w-full h-1 bg-red-300"></span>
        <!-- recipient-info-detail -->
        <div class="mt-2 p-3 rounded-xl border-2 border-red-300">
          <div class="flex justify-start items-center">
            <label for="recipient_name" class="w-1/12 p-2 text-left">收件人</label>
            <input type="text" id="recipient_name" x-model="recipient_name" name="recipient_name" class="border-2 border-gray-300 rounded-md p-2" required>
              {% if form.recipient_name.errors %}
            <div class="text-red-500">
                {% for error in form.recipient_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
            <p class="ml-7 text-base text-gray-500">若包裹不需付款，與此欄位姓名相同的證件，方可取貨</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <label for="recipient_cell_phone" class="w-1/12 p-2 text-left">手機</label>
            <input type="text" id="recipient_cell_phone" x-model="recipient_cell_phone" name="recipient_cell_phone" class="border-2 border-gray-300 rounded-md p-2" placeholder="輸入格式 09XXXXXXXX" pattern="09\d{8}" title="手機號碼必須以09開頭並且總長度為10位數字。" required>
              {% if form.recipient_cell_phone.errors %}
            <div class="text-red-500">
                {% for error in form.recipient_cell_phone.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
            <p class="ml-7 text-base text-gray-500">將以此資料發送簡訊提醒</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <label for="recipient_address" class="w-1/12 p-2 text-left">收件地址</label>
            <input type="text" id="recipient_address" x-model="recipient_address" name="recipient_address" class="border-2 border-gray-300 rounded-md p-2" required>
              {% if form.recipient_address.errors %}
            <div class="text-red-500">
                {% for error in form.recipient_address.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
            <p class="ml-7 text-base text-gray-500">請填入收件地址</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <label for="recipient_email" class="w-1/12 p-2 text-left">E-mail</label>
            <input type="email" id="recipient_email" x-model="recipient_email" name="recipient_email"  class="border-2 border-gray-300 rounded-md p-2" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Email must contain an '@' and a dot." required>
              {% if form.recipient_email.errors %}
            <div class="text-red-500">
                {% for error in form.recipient_email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
              {% endif %}
            <p class="ml-7 text-base text-gray-500">交易通知將會發送到此 E-mail</p>
          </div>
        </div>
        <!-- payment-notice -->
        <div id="recipient-information" class="mt-2 rounded-xl border-2 border-red-300 p-3 text-left text-gray-700 -indent-6" style="display: none;">
          <p class="ml-4 text-justify">
            ・為確保品質，線上訂購並完成下單付款後才會進行製作。
          </p>
          <p class="ml-4 text-justify">
            ・寄送方式：常溫宅配／低溫宅配
          </p>
        </div>
      </div>
    </div>
    
    <!-- section-return-agreement -->
    <div class="mt-12 m-2 p-2 text-center text-xl font-semibold">
      <div class="w-60 rounded-t-xl p-2 bg-red-300 text-white">
        <h3>購買須知</h3>
      </div>
      <span class="block w-full h-1 bg-red-300"></span>
      <div class="mt-2 rounded-xl bg-gray-200 p-3">
        <div class="flex items-center">
          <input type="checkbox" id="id_return_agreement" name="return_agreement" required>
          <label for="id_return_agreement" class="ml-3">我已閱讀並了解購買須知，商品售出後不提供退換服務，請在購買前仔細確認產品資訊。</label>
        </div>
      </div>
    </div>
  <div class="flex justify-end mt-12 m-2 p-2 text-center text-xl">
    <a href="{% url 'carts:summary' %}" class="block w-1/5 rounded-xl bg-gray-300 p-4">
      上一步
    </a>
    <button type="submit" class="block w-1/5 ml-4 rounded-xl bg-red-300 p-4">
        下一步
    </button>
  </div>
  </div>
  
</form>

{% endblock %}