{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{% endblock title %}</title>
	<!-- Using alpine / htmx / htmx-ws / hyperscript -->
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
	<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
	<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

	<!-- Using Tailwindcss -->
	<link rel="stylesheet" href="{% static 'styles/output.css' %}">

	<!-- Using Alpine.js -->
	<script src="{% static 'scripts/output.js' %}" type="module"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	<!-- 引入打包 bulid.js -->
	<script src="{% static 'scripts/output.js' %}" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- font awesome -->
	<script src="https://kit.fontawesome.com/505f24e6d0.js" crossorigin="anonymous"></script>
	
	{% block javascript %} {% endblock javascript %}

</head>

<body class="min-h-screen flex flex-col">
	{% include 'shared/nav.html' %}

	<main class="flex-grow bg-gray-100">
	{% block content %}
	{% endblock %}
	</main>

	{% include 'shared/footer.html'%}

	{% if messages %}
	{% for message in messages %}
	<script>
		

			const Toast = Swal.mixin({
				toast: true,
				position: "center",
				showConfirmButton: false,
				timer: 1500,
				timerProgressBar: true,
				didOpen: (toast) =>
				{
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				}
			});

			// Example to trigger Toast
			Toast.fire({
				icon: 'success',
				title: 'This is a success toast'
			});
			document.addEventListener('DOMContentLoaded', function ()
				{
					// Example to trigger Swal popup immediately when DOM content is loaded
					Toast.fire({
						icon: '{{ message.tags }}',
						title: '{{ message }}',
					});
				});
	</script>
	{% endfor %}
	{% endif %}
</body>

</html>