<footer class="bg-red-300 text-white py-8">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-around">
    <div class="text-center lg:text-left mb-4 lg:mb-0">
      <h2 class="text-2xl font-bold">CakeCapture</h2>
      <p class="text-sm">食品業者登錄字號：Z-123456789-00000-0
        © 2024 Cakecapture. All Rights Reserved.</p>
    </div>
    <div class="text-center lg:text-left mb-4 lg:mb-0">
      <h3 class="text-lg font-bold mb-2">Quick Links</h3>
      <ul class="text-lg">
        <li><a href="{% url 'about' %}">關於我們</a></li>
        <li><a href="{% url 'questions' %}">常見問題</a></li>
      </ul>
    </div>
    <div class="text-center lg:text-left">
      <h3 class="text-lg font-bold mb-2">Follow Us</h3>
      <div class="flex justify-center lg:justify-start">
        <a class="inline-block" href="https://www.facebook.com/cakecapture5x" target="_blank"><i class="fa-brands fa-facebook text-2xl hover:text-red-600"></i></a>
        <a class="inline-block ml-4" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fliff.line.me%2F1645278921-kWRPP32q%2F%3FaccountId%3D139hzbxr&h=AT2pX6KSqI-AytrOfdXUIvpN6pr3j5Hs2PRX5-SKsPKMkLio2Zv3m35bYW4MctdxgyddwKoszvsQBMdXzIoNJq28hZ4emGV4iP_TLjJ8SWYROgveVLXL-7rcMpRK6wrDmkc9BSExXBg" target="_blank"><i class="fa-brands fa-line text-2xl hover:text-red-600"></i></a>
      </div>
    </div>
  </div>
</footer>