<nav class="bg-red-300 py-6 fixed w-screen max-w-screen-2xl top-0 mx-auto left-0 right-0 px-6 z-20"
  x-data="{ open: false }">
  <div class="container mx-auto flex justify-between items-center">
    <!-- 品牌標誌 -->
    <a href="{% url 'home' %}" class="text-white text-2xl font-bold">Cake Capture</a>

    <!-- 漢堡排按鈕 -->
    <div class="block lg:hidden relative">
      <button @click="open = !open" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      <div x-show="open" x-cloak class="absolute right-0 bg-white text-grey rounded-lg mt-1 py-1 w-48 z-20">
        <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-red-300">首頁</a>
        <a href="{% url 'about' %}" class="block px-4 py-2 hover:bg-red-300">關於我們</a>
        {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 hover:bg-red-300">登出</a>
        <a href="{% url 'accounts:user' %}" class="block px-4 py-2 hover:bg-red-300">會員資訊</a>
        {% else %}
        <a href="{% url 'accounts:register' %}" class="block px-4 py-2 hover:bg-red-300">註冊</a>
        <a href="{% url 'accounts:login' %}" class="block px-4 py-2 hover:bg-red-300">登入</a>
        {% endif %}
        <div class="relative" x-data="{ show: false }" @click.away="show = false">
          <button class=" block px-4 py-2 hover:bg-red-300 focus:outline-none" @click="show = !show">
            商品
          </button>
          <div class="absolute right-44 bg-white text-grey rounded-lg mt-1 py-1 w-36 z-20" x-cloak x-show="show" x-transition>
            <a href="{% url 'products:all' %}" class="block px-4 py-2 hover:bg-red-300">所有商品</a>
            {% for category in categories %}
              <a href="{% url 'products:category' category %}" class="block px-4 py-2 hover:bg-red-300">{{ category }}</a>
            {% endfor %}
          </div>
        </div>
        <a href="{% url 'carts:summary' %}" class="block px-4 py-2 hover:bg-red-300 relative">
          購物車
        </a>
      </div>
    </div>

    <div class="hidden lg:flex lg:space-x-14 text-xl lg:flex-row lg:items-center lg:space-x-14 w-full lg:w-auto mt-4 lg:mt-0">
      {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'managements:product_list' %}" class="text-white hover:text-red-600">後台管理</a>
      {% endif %}
        <a href="{% url 'about' %}" class=" text-white hover:text-red-600">關於我們</a>
      <div class="relative" x-data="{show:false}" @click.away="show = false">
        <button class=" text-white hover:text-red-600 focus:outline-none" @click="show= ! show">
          商品
        </button>
				
        <div class="absolute bg-white text-grey rounded-lg mt-1 py-1 w-36 z-20" x-cloak x-show="show" x-transition>
          <a href="{% url 'products:all' %}" class="block px-4 py-2 hover:bg-red-300">所有商品</a>
          {% for category in categories %}
            <a href="{% url 'products:category' category %}" class="block px-4 py-2 hover:bg-red-300">{{ category }}</a>
          {% endfor %}
        </div>
      </div>

      {% if user.is_authenticated %}
        <a href="{% url 'accounts:user' %}" class=" text-white hover:text-red-600">使用者資訊</a>
        <div class="flex gap-6 items-center">
          <a href="{% url 'feedbacks:list' %}" class=" text-white hover:text-red-600" title="與客服聯繫">
            <i class="fa-regular fa-comment-dots fa-lg"></i>
          </a>
          <a href="{% url 'accounts:favorite-list' %}" class=" text-white hover:text-red-600" title="我的收藏商品">
            <i class="fa-regular fa-heart fa-lg"></i>
          </a>
          <a href="{% url 'carts:summary' %}" class=" text-white hover:text-red-600 relative flex" title="查看購物車">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="ml-1 h-6 w-6 bg-red-600 text-white rounded-full flex items-center justify-center" id="cart_quantity">{{ cart|length }}</span>
          </a>
        </div>
        <a href="{% url 'accounts:logout' %}" class=" text-white hover:text-red-600">登出</a>
      {% else %}
        <a href="{% url 'accounts:register' %}" class=" text-white hover:text-red-600">註冊</a>
        <a href="{% url 'accounts:login' %}" class=" text-white hover:text-red-600">登入</a>
      {% endif %}
    </div>
  </div>
</nav>
