<nav class="bg-red-300 py-6 fixed w-screen max-w-screen-2xl top-0 rounded-full mx-auto left-0 right-0 px-6 z-20">
	<div class="container mx-auto flex justify-between items-center">
		<!-- 品牌標誌 -->
		<a href="#" class="text-white text-2xl font-bold">CakeCapture</a>

		<!-- 導航連結 -->
		<div class="flex space-x-4 text-xl">
			<a href="{% url 'home' %}" class="text-white hover:text-red-600">Home</a>
			<a href="{% url 'about' %}" class="text-white hover:text-red-600">About</a>
			{% if user.is_authenticated %}
			<a href="{% url 'logout' %}" class="text-white hover:text-red-600">登出</a>
			{% else %}
			<a href="{% url 'register' %}" class="text-white hover:text-red-600">註冊</a>
			<a href="{% url 'login' %}" class="text-white hover:text-red-600">登入</a>
			{% endif %}
			<a href="#" class="text-white hover:text-red-600">購物車</a>
			<div class="relative" x-data="{show:false}">
				<button class=" text-white hover:text-red-600 focus:outline-none" @click="show= ! show">
					Products
				</button>
				<!-- 下拉菜单 -->
				<div class="absolute bg-white text-grey rounded-lg mt-1 py-1 w-36  z-20" x-show="show">
					<a href="#" class="block px-4 py-2 hover:bg-red-300">all</a>
					<a href="#" class="block px-4 py-2 hover:bg-red-300">macarons</a>
					<a href="#" class="block px-4 py-2 hover:bg-red-300">pound cake</a>
					<a href="#" class="block px-4 py-2 hover:bg-red-300">fresh cream cake</a>
					<a href="#" class="block px-4 py-2 hover:bg-red-300">french pastry</a>
					<a href="#" class="block px-4 py-2 hover:bg-red-300">chocolate</a>
				</div>
			</div>
		</div>
	</div>
</nav>