{% extends 'shared/base.html' %}
{% block content %}
<!-- container -->
<div class="mt-28 w-screen max-w-screen-2xl mx-auto">
  <div class="m-2 p-1 text-2xl font-semibold">
    <p>親愛的會員您好，請確認下列購物資訊是否正確</p>
  </div>
  <!-- section-confirm-detail -->
  <div class="mt-12 m-2 p-1">
    <div class="w-60 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>購物明細</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- detail-column -->
    <div class="flex justify-around mt-2 rounded-lg bg-red-200 p-1 text-center text-xl font-semibold text-red-400">
      <div class="w-2/5 p-2 border-r-2 border-red-400">
        <p>商品明細</p>
      </div>
      
      <div class="w-1/6 p-2 border-r-2 border-red-400">
        <p>數量</p>
      </div>
      <div class="w-1/5 p-2 border-r-2 border-red-400">
        <p>金額</p>
      </div>
      <div class="w-1/12 p-2">
        <p>庫存</p>
      </div>
    </div>
    <!-- detail-product -->
    {% for product in cart_products %}
    <div class="flex justify-around mt-1 rounded-t-xl border-red-200 border-2 p-2 text-2xl">
      <div class="w-2/5 p-2 text-left border-r-2 border-transparent">
        <p>{{ product.name }}</p>
      </div>
      
      <div class="w-1/6 p-2 text-right border-r-2 border-transparent">
      {% for key,value in quantities.items %}
      {% if key == product.id|slugify %}
        <p>{{ value }}</p>
      {% endif %}
      {% endfor %}
      </div>
      <div class="w-1/5 p-2 text-right border-r-2 border-transparent">
        <p>$ {{ product.price }}</p>
      </div>
      <div class="w-1/12 p-2 text-center">
        <p> 有庫存 </p>
      </div>
    </div>
    {% endfor %}
    
    <!-- section-postage -->
    <div class="flex justify-end border-2 border-red-200 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>處理費 / 郵資</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>&nbsp;+&nbsp;N&nbsp;</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
    <!-- section-order-total -->
    <div class="flex justify-end bg-red-200 p-2 text-xl">
      <div class="w-1/2 p-2 text-right">
        <p>訂單金額總計</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-xl font-semibold text-red-500">
          <p>{{ totals }}</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
    <!-- section-result-price -->
    <div class="flex justify-end bg-black rounded-b-xl p-2 text-2xl text-white ">
      <div class="w-1/2 p-2 text-right">
        <p>此訂單需繳付金額</p>
      </div>
      <div class="flex w-1/3 p-2">
        <div class="w-1/4">
          <p>NT$&nbsp;</p>
        </div>
        <div class="w-1/2 text-right text-2xl font-semibold text-white">
          <p>&nbsp;N&nbsp;</p>
        </div>
        <div class="w-1/4 text-right">
          <p>元</p>
        </div>
      </div>
    </div>
  </div>
  <!-- section-payment_delivery_confirm -->
  <div class="m-2 p-1">
    <!-- section-title-tag -->
    <div class="w-60 mt-12 rounded-t-xl bg-red-300 p-2 text-center text-xl font-semibold text-white">
      <h3>付款方式與寄送資訊</h3>
    </div>
    <span class="block w-full h-1 bg-red-300"></span>
    <!-- section-delivery-info -->
    <div class="mt-2 p-2 rounded-xl border-2 border-red-300">
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>配送方式</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.delivery_method.value}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>付款方式</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.payment_method.value}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>收件者</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.recipient_name.value}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>聯絡電話</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.recipient_cell_phone.value}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>E-mail</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.recipient_email.value}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>取貨地點</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.store_address}}</p>
        </div>
      </div>
      <div class="flex justify-evenly p-2">
        <div class="w-1/3 p-2 text-center text-xl">
          <p>發票類型</p>
        </div>
        <div class="w-2/3 p-2 text-left text-xl">
          <p>{{order_form.invoice_option.value}}</p>
        </div>
      </div>
      <div class="flex justify-around p-2 border-dashed border-t-2 border-black">
        <div class="w-1/12 p-2">
          <input type="checkbox" class="block m-auto w-7 h-7 p-2">
        </div>
        <div class="flex w-1/2 p-2 text-center text-xl">
          <p">我同意並了解以下『超商取貨付款權益須知』</p>
        </div>
        <div class="w-1/3 p-2 text-center text-xl text-red-500">
          <p>請詳閱並勾選同意後再繼續結帳</p>
        </div>
      </div>
      <div class="p-2 rounded-xl bg-gray-200">
        <p>選擇超商取貨付款前往門市取貨時, 僅接受現金付款或5000元(含)以下可用信用卡, 適用之信用卡發卡銀行依超商規定(後續如有退款之情事發生, 款項將會退至訂購人之會員帳戶餘額內, 請參考退款方式相關)。</p>
      </div>
    </div>
  </div>
  <!-- section-check-btn -->
  <div class="flex mt-12 m-2 p-1 justify-end text-xl">
    <a href="{% url 'order_form' %}" class="w-1/4 p-2 rounded-xl bg-gray-300 text-center">
      <div>
        <p>&#10094;&nbsp;&nbsp;上一步</p>
      </div>
    </a>
    <form action="{% url 'order_process' %}" method="POST">
    {% csrf_token %}

      <button type="submit" class="w-32 h-12 rounded-xl bg-red-300">送出定單</button>
    
    </form>
  </div>
</div>
{% endblock %}
