<script>
function apply() {
  let code = document.getElementById('coupon-code').value;
  fetch(`/coupons/apply/?code=${code}`)
    .then(response => response.json())
    .then(data => {
      let result = document.getElementById('result');
      if (data.discount) {
        result.innerHTML = `折扣: ${data.discount}`;
      } else {
        result.innerHTML = data.error;
      }
    });
}
</script>

<div class="my-40 mx-auto w-120 bg-pink-200 p-5">
  <h1 class="font-bold text-red-500">Coupon Apply</h1>
  <div class="">
    <input type="text" id="coupon-code" placeholder="輸入優惠代碼">
    <button onclick="apply()" class="bg-red-300 rounded-xl p-2 mx-2">使用優惠代碼</button>
    <div id="result"></div>
  </div>
</div>